openapi: 3.0.0
info:
  contact:
    email: support@lodgea.com
  description: LODGEA SDK for Java. Check out https://docs.lodgea.io for more information.
  termsOfService: https://www.lodgea.com/terms.html
  title: lodgea-java
  version: 1.1.0
  x-logo:
    url: https://docs.lodgea.io/lodgea.svg
    altText: LODGEA API Documentation
externalDocs:
  description: Read the docs
  url: https://docs.lodgea.io
servers:
- description: API for customers in the EU region
  url: https://api.eu.lodgea.io/v1
- description: API for customers in the US region
  url: https://api.us.lodgea.io/v1
- description: API for user acceptance testing
  url: https://api.uat.lodgea.io/v1
security:
- ApiKeyAuth: []
paths:
  /location/search:
    post:
      description: Get a list of locations and their lowest available rate related
        to a given keyword.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_location_search_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_location_search_post_200_response'
          description: "Successful, a list of locations matching the given location\
            \ search text is returned."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_location_search_post_400_response'
          description: "We validate all calls to our API in a strict manner using\
            \ Zod. In case of any validation errors, we send back a 400 response with\
            \ a list of all validation errors. For more info see https://github.com/colinhacks/zod/blob/master/ERROR_HANDLING.md."
        "403":
          description: "Unauthorized, the api key in the \"apiKey\" header field is\
            \ invalid."
      summary: Search for location
      x-content-type: application/json
      x-accepts: application/json
  /availability/search:
    post:
      description: Get availability information based on search criteria.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_availability_search_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_availability_search_post_200_response'
          description: "Successful, a list of available properties matching the given\
            \ criteria is returned."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_location_search_post_400_response'
          description: "We validate all calls to our API in a strict manner using\
            \ Zod. In case of any validation errors, we send back a 400 response with\
            \ a list of all validation errors. For more info see https://github.com/colinhacks/zod/blob/master/ERROR_HANDLING.md."
        "403":
          description: "Unauthorized, the api key in the \"apiKey\" header field is\
            \ invalid."
      summary: Search for availability
      x-content-type: application/json
      x-accepts: application/json
  /properties:
    get:
      description: "List properties, optionally filtered by a keyword."
      parameters:
      - explode: true
        in: query
        name: keyword
        required: false
        schema:
          description: The keyword to filter the properties by. Leave empty/undefined
            to list all properties.
          example: Strandresidenz Sylt
          type: string
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          description: The page token from the last response to load the subsequent
            page.
          example: eyJ0ZW5hbnRDb2RlIjoiZG1vLWRlbW8iLCJuYW1lIjoiTGFuZGhhdXMgVHJlc2tlcnNhbmQiLCJwcm9wZXJ0eUlkIjoibGFuZGhhdXMtdHJlc2tlcnNhbmQifQ==
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_properties_get_200_response'
          description: "Successful, a list of properties matching the given keyword\
            \ is returned."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_location_search_post_400_response'
          description: "We validate all calls to our API in a strict manner using\
            \ Zod. In case of any validation errors, we send back a 400 response with\
            \ a list of all validation errors. For more info see https://github.com/colinhacks/zod/blob/master/ERROR_HANDLING.md."
        "403":
          description: "Unauthorized, the api key in the \"apiKey\" header field is\
            \ invalid."
      summary: List (filtered) properties
      x-accepts: application/json
  /properties/{propertyId}:
    get:
      description: Get all information about a specific property by its ID.
      parameters:
      - explode: false
        in: path
        name: propertyId
        required: true
        schema:
          description: The ID of the property
          example: strandresidenz-sylt
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_properties__propertyId__get_200_response'
          description: "Successful, property found, the whole property object is returned."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_location_search_post_400_response'
          description: "We validate all calls to our API in a strict manner using\
            \ Zod. In case of any validation errors, we send back a 400 response with\
            \ a list of all validation errors. For more info see https://github.com/colinhacks/zod/blob/master/ERROR_HANDLING.md."
        "403":
          description: "Unauthorized, the api key in the \"apiKey\" header field is\
            \ invalid."
        "404":
          description: The requested resource was not found
      summary: Get a properties details
      x-accepts: application/json
  /properties/{propertyId}/availability:
    get:
      description: Get detailed availability information for a specific property.
      parameters:
      - explode: false
        in: path
        name: propertyId
        required: true
        schema:
          description: The ID of the property
          example: strandresidenz-sylt
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: currencyCode
        required: true
        schema:
          description: The currency in which prices should be returned.
          enum:
          - AED
          - ARS
          - AUD
          - AZN
          - BGN
          - BHD
          - BRL
          - CAD
          - CHF
          - CLP
          - CNY
          - COP
          - CZK
          - DKK
          - EGP
          - EUR
          - FJD
          - GBP
          - GEL
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JOD
          - JPY
          - KRW
          - KWD
          - KZT
          - MDL
          - MXN
          - MYR
          - NAD
          - NOK
          - NZD
          - OMR
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - SEK
          - SGD
          - THB
          - TRY
          - TWD
          - UAH
          - USD
          - XOF
          - ZAR
          example: EUR
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_properties__propertyId__availability_get_200_response'
          description: "Successful, a list of properties matching the given keyword\
            \ is returned."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_location_search_post_400_response'
          description: "We validate all calls to our API in a strict manner using\
            \ Zod. In case of any validation errors, we send back a 400 response with\
            \ a list of all validation errors. For more info see https://github.com/colinhacks/zod/blob/master/ERROR_HANDLING.md."
        "403":
          description: "Unauthorized, the api key in the \"apiKey\" header field is\
            \ invalid."
      summary: Get a properties availability
      x-accepts: application/json
components:
  parameters: {}
  schemas:
    _location_search_post_request:
      additionalProperties: false
      properties:
        searchText:
          description: A search text in free form to search locations by.
          example: Hotel Stadt Hamburg
          type: string
        currencyCode:
          description: The currency code of the currency in which the lowest price
            for each found location should be returned.<p>See also <a href="#currencycodes">in
            the appendix</a>.</p>
          enum:
          - AED
          - ARS
          - AUD
          - AZN
          - BGN
          - BHD
          - BRL
          - CAD
          - CHF
          - CLP
          - CNY
          - COP
          - CZK
          - DKK
          - EGP
          - EUR
          - FJD
          - GBP
          - GEL
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JOD
          - JPY
          - KRW
          - KWD
          - KZT
          - MDL
          - MXN
          - MYR
          - NAD
          - NOK
          - NZD
          - OMR
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - SEK
          - SGD
          - THB
          - TRY
          - TWD
          - UAH
          - USD
          - XOF
          - ZAR
          example: EUR
          type: string
        languageCode:
          description: The language code of the language in which the descriptive
            texts for each found location should be returned.<p>Please note that beside
            the general restrictions listed below only languages configured during
            system setup for your respective tenant are allowed.</p><p>See also <a
            href="#isolanguage-codes">in the appendix</a>.</p>
          enum:
          - af
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - es
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ko
          - lt
          - lv
          - nl
          - "no"
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tr
          - vi
          - zh
          example: en
          type: string
      required:
      - currencyCode
      - languageCode
      - searchText
      type: object
    Available_Properties_inner:
      example:
        lowestPrice: 99.99
        name: Westerland
        type: sublocality
        currencyCode: EUR
      properties:
        name:
          description: The name of the location.
          example: Westerland
          type: string
        currencyCode:
          description: The currency code of the currency of the lowest price.
          enum:
          - AED
          - ARS
          - AUD
          - AZN
          - BGN
          - BHD
          - BRL
          - CAD
          - CHF
          - CLP
          - CNY
          - COP
          - CZK
          - DKK
          - EGP
          - EUR
          - FJD
          - GBP
          - GEL
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JOD
          - JPY
          - KRW
          - KWD
          - KZT
          - MDL
          - MXN
          - MYR
          - NAD
          - NOK
          - NZD
          - OMR
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - SEK
          - SGD
          - THB
          - TRY
          - TWD
          - UAH
          - USD
          - XOF
          - ZAR
          example: EUR
          type: string
        lowestPrice:
          description: The lowest price available for this location.
          example: 99.99
          type: number
        type:
          description: The type of the found location.<p>See also <a href="#locationtypes">in
            the appendix</a>.</p>
          enum:
          - formatted_address
          - place_id
          - locality
          - administrative_area_level_1
          - administrative_area_level_2
          - administrative_area_level_3
          - administrative_area_level_4
          - administrative_area_level_5
          - state_code
          - country
          - country_code
          - postal_code
          - language
          - natural_feature
          - establishment
          - sublocality
          - sublocality_level_1
          - sublocality_level_2
          - sublocality_level_3
          - sublocality_level_4
          - sublocality_level_5
          - streetNumber
          example: sublocality
          type: string
      required:
      - currencyCode
      - lowestPrice
      - name
      - type
      type: object
    _location_search_post_200_response:
      example:
        languageCode: en
        list:
        - lowestPrice: 99.99
          name: Westerland
          type: sublocality
          currencyCode: EUR
        - lowestPrice: 99.99
          name: Westerland
          type: sublocality
          currencyCode: EUR
      properties:
        languageCode:
          description: The language code of the language in which the descriptive
            texts for each found location are returned.<p>Please note that beside
            the general restrictions listed below only languages configured during
            system setup for your respective tenant are allowed.</p><p>See also <a
            href="#isolanguage-codes">in the appendix</a>.</p>
          enum:
          - af
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - es
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ko
          - lt
          - lv
          - nl
          - "no"
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tr
          - vi
          - zh
          example: en
          type: string
        list:
          description: A list of available properties matching the given criteria.
          items:
            $ref: '#/components/schemas/Available_Properties_inner'
          title: Available Properties
          type: array
      required:
      - languageCode
      - list
      type: object
    _location_search_post_400_response_validationErrors_inner:
      description: A Zod issue. More fields can be present depending on the issue
        type.
      properties:
        code:
          description: The ZodIssueCode describing the issue.
          enum:
          - invalid_type
          - invalid_literal
          - custom
          - invalid_union
          - invalid_union_discriminator
          - invalid_enum_value
          - unrecognized_keys
          - invalid_arguments
          - invalid_return_type
          - invalid_date
          - invalid_string
          - too_small
          - too_big
          - invalid_intersection_types
          - not_multiple_of
          - not_finite
          example: invalid_type
          type: string
        message:
          description: A message describing the error in a human readable way.
          example: "Invalid type. Expected string, received number."
          type: string
        path:
          description: "An array describing the position of the faulty property. The\
            \ first segment will always be either \"body\", \"pathParameters\" or\
            \ \"queryParameters\" indicating on which part of your request the error\
            \ occurred."
          example:
          - body
          - myObjectKey
          items:
            type: string
          type: array
      required:
      - code
      - message
      - path
      type: object
    _location_search_post_400_response:
      properties:
        validationErrors:
          items:
            $ref: '#/components/schemas/_location_search_post_400_response_validationErrors_inner'
          type: array
      required:
      - validationErrors
      type: object
    _availability_search_post_request:
      additionalProperties: false
      properties:
        adultCount:
          default: 2
          description: The amount of adults that will stay at the property.
          example: 2
          minimum: 1
          type: integer
        childCount:
          description: The amount of children that will stay at the property.
          example: 2
          minimum: 0
          type: integer
        childAgeList:
          description: "A list describing the ages of the children that will stay\
            \ at the property. If <code>childAgeList</code> is set <code>childCount</code>\
            \ has to be set as well. If <code>childAgeList</code> and <code>childCount</code>\
            \ are set, <code>childCount</code> must be equal to the length of <code>childAgeList</code>."
          example:
          - 4
          - 7
          items:
            maximum: 17
            minimum: 1
            type: integer
          type: array
        currencyCode:
          description: The currency code of the currency in which the lowest price
            for each found location should be returned.<p>See also <a href="#currencycodes">in
            the appendix</a>.</p>
          enum:
          - AED
          - ARS
          - AUD
          - AZN
          - BGN
          - BHD
          - BRL
          - CAD
          - CHF
          - CLP
          - CNY
          - COP
          - CZK
          - DKK
          - EGP
          - EUR
          - FJD
          - GBP
          - GEL
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JOD
          - JPY
          - KRW
          - KWD
          - KZT
          - MDL
          - MXN
          - MYR
          - NAD
          - NOK
          - NZD
          - OMR
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - SEK
          - SGD
          - THB
          - TRY
          - TWD
          - UAH
          - USD
          - XOF
          - ZAR
          example: EUR
          type: string
        languageCode:
          description: The language code of the language in which the descriptive
            texts for each found property should be returned.<p>Please note that beside
            the general restrictions listed below only languages configured during
            system setup for your respective tenant are allowed.</p><p>See also <a
            href="#isolanguage-codes">in the appendix</a>.</p>
          enum:
          - af
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - es
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ko
          - lt
          - lv
          - nl
          - "no"
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tr
          - vi
          - zh
          example: en
          type: string
        unitSystem:
          default: metric
          description: The unit system to use in the result.
          enum:
          - metric
          - imperial
          type: string
        minLengthOfStay:
          description: The desired minimum length of stay in nights.
          example: 1
          maximum: 30
          minimum: 1
          type: integer
        maxLengthOfStay:
          description: The desired maximum length of stay in nights.
          example: 27
          maximum: 30
          minimum: 1
          type: integer
        locationName:
          description: "The name of a location the properties should be located in.If\
            \ <code>locationType</code> is set, <code>locationName</code> has to bet\
            \ set as well."
          example: Oberbayern
          type: string
        locationType:
          description: "Defines the type of<code>locationName</code>. If <code>locationType</code>\
            \ is set, <code>locationName</code> has to bet set as well.<p>See also\
            \ <a href=\"#locationtypes\">in the appendix</a>.</p>"
          enum:
          - formatted_address
          - place_id
          - locality
          - administrative_area_level_1
          - administrative_area_level_2
          - administrative_area_level_3
          - administrative_area_level_4
          - administrative_area_level_5
          - state_code
          - country
          - country_code
          - postal_code
          - language
          - natural_feature
          - establishment
          - sublocality
          - sublocality_level_1
          - sublocality_level_2
          - sublocality_level_3
          - sublocality_level_4
          - sublocality_level_5
          - streetNumber
          example: locality
          type: string
        earliestArrival:
          description: The earliest possible arrival date. Expects exactly the format
            of "YYYY-MM-DD".
          example: 2022-09-01
          type: string
        latestReturn:
          description: The latest possible departure date. Expects exactly the format
            of "YYYY-MM-DD".
          example: 2022-09-08
          type: string
        sort:
          description: "The criteria to order the results by. Sort order for price\
            \ is ascending, sort order for quality is always descending. Quality is\
            \ an internally calculated score for the property.',\n\n\n        )}"
          enum:
          - quality
          - price
          example: price
          type: string
        serviceList:
          description: A list of service codes indicating which services and amenities
            the entire property should offer. The codes are AND chained.<p>See also
            <a href="#servicecodes">in the appendix</a>.</p>
          example:
          - 1
          - 2
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41
            - 42
            - 43
            - 44
            - 45
            - 46
            - 47
            - 48
            - 49
            - 50
            - 51
            - 52
            - 53
            - 54
            - 55
            - 56
            - 57
            - 58
            - 59
            - 60
            - 61
            - 62
            - 63
            - 64
            - 65
            - 66
            - 67
            - 68
            - 69
            - 70
            - 71
            - 72
            - 73
            - 74
            - 75
            - 76
            - 77
            - 78
            - 79
            - 80
            - 81
            - 82
            - 83
            - 84
            - 85
            - 86
            - 87
            - 88
            - 89
            - 90
            - 91
            - 92
            - 93
            - 94
            - 95
            - 96
            - 97
            - 98
            - 99
            - 100
            - 101
            - 102
            - 103
            - 104
            - 105
            - 106
            - 107
            - 108
            - 109
            - 110
            - 111
            - 112
            - 113
            - 114
            - 115
            - 116
            - 117
            - 118
            - 119
            - 120
            - 121
            - 122
            - 123
            - 124
            - 125
            - 126
            - 127
            - 128
            - 129
            - 130
            - 131
            - 132
            - 133
            - 134
            - 135
            - 136
            - 137
            - 138
            - 139
            - 140
            - 141
            - 142
            - 143
            - 144
            - 145
            - 146
            - 147
            - 148
            - 149
            - 150
            - 151
            - 152
            - 153
            - 154
            - 155
            - 156
            - 157
            - 158
            - 159
            - 160
            - 161
            - 162
            - 163
            - 164
            - 165
            - 166
            - 167
            - 168
            - 169
            - 170
            - 171
            - 172
            - 173
            - 174
            - 175
            - 176
            - 177
            - 178
            - 179
            - 180
            - 181
            - 182
            - 183
            - 184
            - 185
            - 186
            - 187
            - 188
            - 189
            - 190
            - 191
            - 192
            - 193
            - 194
            - 195
            - 196
            - 197
            - 198
            - 199
            - 200
            - 201
            - 202
            - 203
            - 204
            - 205
            - 206
            - 207
            - 208
            - 209
            - 210
            - 211
            - 212
            - 213
            - 214
            - 215
            - 216
            - 217
            - 218
            - 219
            - 220
            - 221
            - 222
            - 223
            - 224
            - 225
            - 226
            - 227
            - 228
            - 229
            - 230
            - 231
            - 232
            - 233
            - 234
            - 235
            - 236
            - 237
            - 238
            - 239
            - 240
            - 241
            - 242
            - 243
            - 244
            - 245
            - 246
            - 247
            - 248
            - 249
            - 250
            - 251
            - 252
            - 253
            - 254
            - 255
            - 256
            - 257
            - 258
            - 259
            - 260
            - 261
            - 262
            - 263
            - 264
            - 265
            - 266
            - 267
            - 268
            - 269
            - 270
            - 271
            - 272
            - 273
            - 274
            - 275
            - 276
            - 277
            - 278
            - 279
            - 280
            - 281
            - 282
            - 283
            - 284
            - 285
            - 286
            - 287
            - 288
            - 289
            - 290
            - 291
            - 292
            - 293
            - 294
            - 295
            - 296
            - 297
            - 298
            - 299
            - 300
            - 301
            - 302
            - 303
            - 304
            - 305
            - 306
            - 307
            - 308
            - 309
            - 310
            - 311
            - 312
            - 313
            - 314
            - 315
            - 316
            - 317
            - 318
            - 319
            - 320
            - 321
            - 322
            - 323
            - 324
            - 325
            - 326
            - 327
            - 328
            - 329
            - 331
            - 332
            - 333
            - 334
            - 335
            - 336
            - 337
            - 338
            - 339
            - 340
            - 341
            - 342
            - 343
            - 344
            - 345
            - 348
            - 349
            - 350
            - 351
            - 5000
            - 5001
            - 5002
            - 5003
            - 5004
            - 5005
            - 5006
            - 5007
            - 5008
            - 5009
            - 5010
            - 5011
            - 5012
            - 5013
            - 5014
            - 5015
            - 5016
            - 5017
            - 5018
            - 5020
            - 5021
            - 5022
            - 5023
            - 5024
            - 5025
            - 5026
            - 5027
            - 5028
            - 5029
            - 5030
            - 5031
            - 5032
            - 5033
            - 5034
            - 5035
            - 5036
            - 5037
            - 5039
            - 5040
            - 5041
            - 5042
            - 5043
            - 5044
            - 5045
            - 5046
            - 5047
            - 5048
            - 5049
            - 5050
            - 5051
            - 5052
            - 5053
            - 5054
            - 5055
            - 5056
            - 5057
            - 5058
            - 5059
            - 5060
            - 5061
            - 5062
            - 5063
            - 5064
            - 5065
            - 5066
            - 5067
            - 5068
            - 5069
            - 5070
            - 5071
            - 5072
            - 5073
            - 5074
            - 5075
            - 5076
            - 5077
            - 5078
            - 5079
            - 5080
            - 5081
            - 5082
            - 5083
            - 5084
            - 5085
            - 5086
            - 5087
            - 5088
            - 5089
            - 5090
            - 5091
            - 5092
            - 5093
            - 5094
            - 5095
            - 5096
            - 5097
            - 5098
            - 5099
            - 5100
            - 5101
            - 5102
            - 5103
            - 5104
            - 5105
            - 5106
            - 5107
            - 5108
            - 5109
            - 5110
            - 5111
            - 5112
            - 5113
            - 5114
            - 5115
            - 5116
            - 5117
            - 5118
            - 5119
            - 5120
            - 5121
            - 5122
            - 5123
            - 5124
            - 5125
            - 5126
            - 5127
            - 5128
            - 5129
            - 5130
            - 5131
            - 5132
            - 5133
            - 5134
            - 5135
            - 5136
            - 5137
            - 5138
            - 5139
            - 5140
            - 5141
            - 5142
            - 5143
            - 5144
            - 5145
            - 5146
            - 5147
            - 5148
            - 5149
            - 5150
            - 5151
            - 5152
            - 5153
            - 5154
            - 5156
            - 5157
            - 5158
            - 5159
            - 5160
            - 5161
            - 5162
            - 5163
            - 5164
            - 5165
            - 5166
            - 5167
            - 5168
            - 5169
            - 5170
            - 5171
            - 5172
            - 5173
            - 5174
            - 5175
            - 5176
            - 5177
            - 5178
            - 6000
            - 6001
            - 90001
            type: number
          type: array
        typeList:
          description: A list of property class type codes specifying the desired
            property classes. The codes are OR chained.<p>See also <a href="#propertyclass-type-codes">in
            the appendix</a>.</p>
          example:
          - 3
          - 4
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41
            - 42
            - 43
            - 44
            - 45
            - 46
            - 47
            - 48
            - 49
            - 50
            - 51
            - 52
            - 53
            - 54
            - 55
            - 56
            - 57
            - 58
            - 59
            - 60
            - 61
            - 62
            - 5000
            - 5001
            - 5002
            - 5003
            - 5004
            - 5005
            - 5006
            - 5007
            - 5008
            - 5009
            type: number
          type: array
        unitTypeList:
          description: A list of unit and room type codes indicating which kinds of
            unit/room type is desired.<p>See also <a href="#unitand-room-type-codes">in
            the appendix</a>.</p>
          example:
          - 5
          - 6
          items:
            enum:
            - 1
            - 4
            - 5
            - 7
            - 8
            - 9
            - 10
            - 12
            - 13
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 31
            - 32
            - 33
            type: number
          type: array
        unitAmenityList:
          description: A list of room amenity type codes indicating which room level
            amenities are desired. The codes are AND chained.<p>See also <a href="#unitand-room-amenity-type-codes">in
            the appendix</a>.</p>
          example:
          - 7
          - 8
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41
            - 42
            - 43
            - 44
            - 45
            - 46
            - 47
            - 48
            - 49
            - 50
            - 51
            - 52
            - 53
            - 54
            - 55
            - 56
            - 57
            - 58
            - 59
            - 60
            - 61
            - 62
            - 63
            - 64
            - 65
            - 66
            - 67
            - 68
            - 69
            - 70
            - 71
            - 72
            - 73
            - 74
            - 75
            - 76
            - 77
            - 78
            - 79
            - 80
            - 81
            - 82
            - 83
            - 84
            - 85
            - 86
            - 87
            - 88
            - 89
            - 90
            - 91
            - 92
            - 93
            - 94
            - 95
            - 96
            - 97
            - 98
            - 99
            - 100
            - 101
            - 102
            - 103
            - 104
            - 105
            - 106
            - 107
            - 108
            - 109
            - 110
            - 111
            - 112
            - 113
            - 114
            - 115
            - 116
            - 117
            - 118
            - 119
            - 120
            - 121
            - 122
            - 123
            - 124
            - 125
            - 126
            - 127
            - 128
            - 129
            - 130
            - 131
            - 132
            - 133
            - 134
            - 135
            - 136
            - 137
            - 138
            - 139
            - 140
            - 141
            - 142
            - 143
            - 144
            - 145
            - 146
            - 147
            - 148
            - 149
            - 150
            - 151
            - 152
            - 153
            - 154
            - 155
            - 156
            - 157
            - 158
            - 159
            - 160
            - 161
            - 162
            - 163
            - 164
            - 165
            - 166
            - 167
            - 168
            - 169
            - 170
            - 171
            - 172
            - 173
            - 174
            - 175
            - 176
            - 177
            - 178
            - 179
            - 180
            - 181
            - 182
            - 183
            - 184
            - 185
            - 186
            - 187
            - 188
            - 189
            - 190
            - 191
            - 192
            - 193
            - 194
            - 195
            - 196
            - 197
            - 198
            - 199
            - 200
            - 201
            - 202
            - 203
            - 204
            - 205
            - 206
            - 207
            - 208
            - 209
            - 210
            - 211
            - 212
            - 213
            - 214
            - 215
            - 216
            - 217
            - 218
            - 219
            - 220
            - 221
            - 222
            - 223
            - 224
            - 225
            - 226
            - 227
            - 228
            - 229
            - 230
            - 231
            - 232
            - 233
            - 234
            - 235
            - 236
            - 237
            - 238
            - 239
            - 240
            - 241
            - 242
            - 243
            - 244
            - 245
            - 246
            - 247
            - 248
            - 249
            - 250
            - 251
            - 252
            - 253
            - 254
            - 255
            - 256
            - 257
            - 258
            - 259
            - 260
            - 261
            - 262
            - 263
            - 264
            - 265
            - 266
            - 267
            - 268
            - 269
            - 270
            - 271
            - 272
            - 273
            - 274
            - 275
            - 276
            - 277
            - 278
            - 279
            - 280
            - 281
            - 282
            - 283
            - 5001
            - 5002
            - 5003
            - 5004
            - 5005
            - 5006
            - 5007
            - 5008
            - 5009
            - 5010
            - 5011
            - 5012
            - 5013
            - 5014
            - 5015
            - 5016
            - 5017
            - 5018
            - 5019
            - 5020
            - 5021
            - 5022
            - 5023
            - 5024
            - 5025
            - 5026
            - 5027
            - 5028
            - 5029
            - 5030
            - 5031
            - 5032
            - 5033
            - 5034
            - 5035
            - 5036
            - 5037
            - 5038
            - 5039
            - 5040
            - 5041
            - 5042
            - 5043
            - 5044
            - 5045
            - 5046
            - 5068
            - 5069
            - 5070
            - 5071
            - 5072
            - 5073
            - 5074
            - 5075
            - 5076
            - 5077
            - 5079
            - 5080
            - 5081
            - 5082
            - 5083
            - 5084
            - 5085
            - 5086
            - 5087
            - 5088
            - 5089
            - 5090
            - 5091
            - 5092
            - 5093
            - 5094
            - 5095
            - 5096
            - 5097
            - 5098
            - 5099
            - 5100
            - 5101
            - 5102
            - 5103
            - 5104
            - 5105
            - 5106
            - 5107
            - 5108
            - 5109
            - 5110
            - 5111
            - 5112
            - 5113
            - 5114
            - 5115
            - 5116
            - 5117
            - 5118
            - 5119
            - 5120
            - 5121
            - 5122
            - 5123
            - 5124
            - 5125
            - 5126
            - 5127
            - 5129
            - 5130
            - 5131
            - 5132
            - 5133
            - 5134
            - 5135
            - 5136
            - 5137
            - 5138
            - 5139
            - 5140
            - 5141
            - 5142
            - 5143
            - 5144
            - 5145
            - 5146
            - 5147
            - 5148
            - 5149
            - 5150
            - 5151
            - 5152
            - 5153
            - 5154
            - 5157
            - 5158
            - 5159
            - 5160
            - 5161
            - 5162
            - 5163
            - 5164
            - 5165
            - 5166
            - 5167
            - 5168
            - 5169
            - 5170
            - 5171
            - 5172
            - 5173
            - 5174
            - 5175
            - 5176
            - 5177
            - 5178
            - 5179
            - 5180
            - 5181
            - 5182
            - 5184
            - 5185
            - 5186
            - 5187
            - 5188
            - 5189
            - 5190
            - 5191
            - 5196
            - 5198
            - 5199
            - 5200
            - 5201
            - 5202
            - 5203
            - 5204
            - 5205
            - 5206
            - 5207
            - 5211
            - 5212
            - 90001
            - 90002
            - 90003
            - 90004
            - 90005
            - 90006
            - 90007
            - 90008
            - 90009
            - 90010
            - 90011
            type: number
          type: array
        mealPlanList:
          description: A list of meal plan type codes indicating which kinds of meal
            plan type is desired.<p>See also <a href="#mealplan-type-codes">in the
            appendix</a>.</p>
          example:
          - 9
          - 10
          items:
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 90001
            type: number
          type: array
      required:
      - currencyCode
      - languageCode
      type: object
    Available_Properties_inner_1_geo_location:
      example:
        lng: 8.304857
        lat: 54.9157118
      properties:
        lng:
          description: The longitude coordinate of the location.
          example: 8.304857
          type: number
        lat:
          description: The location of the property as coordinates
          example: 54.9157118
          type: number
      required:
      - lat
      - lng
      type: object
    Available_Properties_inner_1_geo:
      description: A geographical information set describing the location of this
        property.<br><br>See also <a href="#locationtypes">in the appendix</a>.
      example:
        country: Germany
        formatted_address: "Nordhedig 20, 25980 Sylt, Germany"
        locality: Sylt
        sublocality: Westerland
        language: de
        sublocality_level_2: Some Sublocality
        sublocality_level_1: Westerland
        country_code: DE
        route: Nordhedig
        administrative_area_level_2: Friesland
        sublocality_level_5: Some Sublocality
        administrative_area_level_3: administrative_area_level_3
        sublocality_level_4: Some Sublocality
        sublocality_level_3: Some Sublocality
        administrative_area_level_1: Schleswig-Holstein
        street_number: "20"
        administrative_area_level_4: administrative_area_level_4
        location:
          lng: 8.304857
          lat: 54.9157118
        administrative_area_level_5: administrative_area_level_5
        postal_code: "25980"
        state_code: SH
        place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
      properties:
        language:
          description: The language of the localizable fields ot this geographical
            information set.<p>Please note that beside the general restrictions listed
            below only languages configured during system setup for your respective
            tenant are allowed.</p><p>See also <a href="#isolanguage-codes">in the
            appendix</a>.</p>
          enum:
          - af
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - es
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ko
          - lt
          - lv
          - nl
          - "no"
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tr
          - vi
          - zh
          example: de
          type: string
        formatted_address:
          description: The formatted address in the local format of the properties
            location.
          example: "Nordhedig 20, 25980 Sylt, Germany"
          type: string
        route:
          description: The name of the route or street.
          example: Nordhedig
          type: string
        street_number:
          description: The number of the street.
          example: "20"
          type: string
        postal_code:
          description: The postal code of the location.
          example: "25980"
          type: string
        locality:
          description: A city or town.
          example: Sylt
          type: string
        sublocality:
          description: A smaller area within a locality.
          example: Westerland
          type: string
        sublocality_level_1:
          description: A smaller area within a locality at level 1.
          example: Westerland
          type: string
        sublocality_level_2:
          description: A smaller area within a locality at level 2.
          example: Some Sublocality
          type: string
        sublocality_level_3:
          description: A smaller area within a locality at level 3.
          example: Some Sublocality
          type: string
        sublocality_level_4:
          description: A smaller area within a locality at level 4.
          example: Some Sublocality
          type: string
        sublocality_level_5:
          description: A smaller area within a locality at level 5.
          example: Some Sublocality
          type: string
        administrative_area_level_1:
          description: "A level 1 administrative area, such as a state or province."
          example: Schleswig-Holstein
          type: string
        administrative_area_level_2:
          description: A level 2 administrative area.
          example: Friesland
          type: string
        administrative_area_level_3:
          description: A level 3 administrative area
          type: string
        administrative_area_level_4:
          description: A level 4 administrative area.
          type: string
        administrative_area_level_5:
          description: A level 5 administrative area
          type: string
        state_code:
          description: The state or province code for the administrative area.
          example: SH
          type: string
        country:
          description: The country of this geographical information set.
          example: Germany
          type: string
        country_code:
          description: The country code for the country.
          example: DE
          type: string
        location:
          $ref: '#/components/schemas/Available_Properties_inner_1_geo_location'
        place_id:
          description: Uniquely identifies a place in our database.
          example: ChIJVaxqTevetEcRyfs8PGHK6mw
          type: string
      required:
      - formatted_address
      - language
      - location
      - place_id
      type: object
    Available_Properties_inner_1_mediaList_inner:
      example:
        tagList:
        - 3
        - 55
        isMainImage: true
        sortOrder: 1000
        url: 5e3d9d49e9480.jpg
      properties:
        tagList:
          description: A list of tag codes for the media.<p>See also <a href="#imagetype-codes">in
            the appendix</a>.</p>
          example:
          - 3
          - 55
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 10
            - 11
            - 13
            - 14
            - 37
            - 41
            - 42
            - 43
            - 50
            - 55
            - 61
            - 70
            - 74
            - 81
            - 82
            - 87
            - 89
            - 90
            - 94
            - 95
            - 96
            - 97
            - 100
            - 102
            - 103
            - 104
            - 106
            - 107
            - 108
            - 112
            - 113
            - 114
            - 115
            - 116
            - 124
            - 125
            - 128
            - 131
            - 133
            - 134
            - 137
            - 141
            - 143
            - 153
            - 154
            - 155
            - 156
            - 157
            - 158
            - 159
            - 160
            - 161
            - 164
            - 165
            - 167
            - 172
            - 173
            - 177
            - 178
            - 179
            - 182
            - 183
            - 184
            - 185
            - 186
            - 187
            - 188
            - 189
            - 190
            - 191
            - 192
            - 193
            - 194
            - 197
            - 198
            - 199
            - 204
            - 205
            - 240
            - 241
            - 242
            - 245
            - 246
            - 247
            - 248
            - 249
            - 250
            - 251
            - 252
            - 253
            - 254
            - 255
            - 256
            - 257
            - 258
            - 259
            - 260
            - 261
            - 262
            - 263
            - 264
            - 265
            - 266
            - 267
            - 268
            - 269
            - 270
            - 271
            - 272
            - 273
            - 276
            - 277
            - 278
            - 279
            - 280
            - 281
            - 282
            - 283
            - 284
            - 285
            - 286
            - 287
            - 289
            - 290
            - 291
            type: number
          type: array
        isMainImage:
          description: Whether the media is the main image for the property.
          example: true
          type: boolean
        url:
          description: The URL for the media.
          example: 5e3d9d49e9480.jpg
          type: string
        sortOrder:
          description: The sort order for the media.
          example: 1000
          type: number
      required:
      - isMainImage
      - sortOrder
      - tagList
      - url
      type: object
    Available_Properties_inner_1_attractionList_inner_distance:
      description: The distance from the property to this attraction. Whether this
        is road or air distance is not clearly defined as the values are entered by
        the tenants admins.
      example:
        unit: m
        value: 2300
      properties:
        value:
          description: The numeric value of the distance.
          example: 2300
          type: number
        unit:
          description: The unit of the value of the distance.
          enum:
          - m
          - ft
          example: m
          type: string
      required:
      - unit
      - value
      type: object
    Available_Properties_inner_1_attractionList_inner:
      example:
        distance:
          unit: m
          value: 2300
        name: Flughafen Sylt
        typeCode: 0.8008281904610115
      properties:
        typeCode:
          description: The code for this attraction type.<p>See also <a href="#attractioncategory-codes">in
            the appendix</a>.</p>
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          - 32
          - 33
          - 34
          - 35
          - 36
          - 37
          - 38
          - 39
          - 40
          - 41
          - 42
          - 43
          - 44
          - 45
          - 46
          - 47
          - 48
          - 49
          - 50
          - 51
          - 52
          - 53
          - 54
          - 55
          - 56
          - 57
          - 58
          - 59
          - 60
          - 61
          - 62
          - 63
          - 64
          - 65
          - 66
          - 67
          - 68
          - 69
          - 70
          - 71
          - 72
          - 73
          - 74
          - 75
          - 76
          - 77
          - 78
          - 79
          - 80
          - 81
          - 82
          - 83
          - 84
          - 85
          - 86
          - 87
          - 88
          - 89
          - 90
          - 91
          - 92
          - 93
          - 94
          - 95
          - 96
          - 97
          - 98
          - 99
          - 100
          - 101
          - 102
          - 103
          - 104
          - 105
          - 106
          - 107
          - 108
          - 109
          - 110
          - 90001
          - 90002
          - 90003
          - 90004
          - 90005
          - 90006
          - 90007
          - 90008
          - 90009
          - 90010
          type: number
        name:
          description: The name of the attraction. Names are proper nouns and therefore
            not affected by the given language code.
          example: Flughafen Sylt
          type: string
        distance:
          $ref: '#/components/schemas/Available_Properties_inner_1_attractionList_inner_distance'
      required:
      - distance
      - name
      - typeCode
      type: object
    Available_Properties_inner_1_lowestPrice:
      description: An object outlining the stay with the lowest available price point
        for this property.
      example:
        lengthOfStay: 1
        amount: 89.99
        returnDate: 1660867200
        currencyCode: EUR
        arrivalDate: 1660780800
      properties:
        amount:
          description: The amount of the lowest price.
          example: 89.99
          type: number
        currencyCode:
          description: The currency code for the given amount.<p>See also <a href="#currencycodes">in
            the appendix</a>.</p>
          enum:
          - AED
          - ARS
          - AUD
          - AZN
          - BGN
          - BHD
          - BRL
          - CAD
          - CHF
          - CLP
          - CNY
          - COP
          - CZK
          - DKK
          - EGP
          - EUR
          - FJD
          - GBP
          - GEL
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JOD
          - JPY
          - KRW
          - KWD
          - KZT
          - MDL
          - MXN
          - MYR
          - NAD
          - NOK
          - NZD
          - OMR
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - SEK
          - SGD
          - THB
          - TRY
          - TWD
          - UAH
          - USD
          - XOF
          - ZAR
          example: EUR
          type: string
        arrivalDate:
          description: Arrival date for the given price as unix timestamp (seconds).
          example: 1660780800
          type: number
        returnDate:
          description: Departure date for the given price as unix timestamp (seconds).
          example: 1660867200
          type: number
        lengthOfStay:
          description: The amount of nights of stay this price is for
          example: 1
          type: number
      required:
      - amount
      - arrivalDate
      - currencyCode
      - lengthOfStay
      - returnDate
      type: object
    Available_Properties_inner_1:
      example:
        lowestPrice:
          lengthOfStay: 1
          amount: 89.99
          returnDate: 1660867200
          currencyCode: EUR
          arrivalDate: 1660780800
        code: strandresidenz-sylt
        languageCode: en
        uri: strandresidenz-sylt
        geo:
          country: Germany
          formatted_address: "Nordhedig 20, 25980 Sylt, Germany"
          locality: Sylt
          sublocality: Westerland
          language: de
          sublocality_level_2: Some Sublocality
          sublocality_level_1: Westerland
          country_code: DE
          route: Nordhedig
          administrative_area_level_2: Friesland
          sublocality_level_5: Some Sublocality
          administrative_area_level_3: administrative_area_level_3
          sublocality_level_4: Some Sublocality
          sublocality_level_3: Some Sublocality
          administrative_area_level_1: Schleswig-Holstein
          street_number: "20"
          administrative_area_level_4: administrative_area_level_4
          location:
            lng: 8.304857
            lat: 54.9157118
          administrative_area_level_5: administrative_area_level_5
          postal_code: "25980"
          state_code: SH
          place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
        mediaList:
        - tagList:
          - 3
          - 55
          isMainImage: true
          sortOrder: 1000
          url: 5e3d9d49e9480.jpg
        - tagList:
          - 3
          - 55
          isMainImage: true
          sortOrder: 1000
          url: 5e3d9d49e9480.jpg
        name: Strandresidenz Sylt
        serviceList:
        - 1
        - 2
        categoryList:
        - 3
        - 4
        attractionList:
        - distance:
            unit: m
            value: 2300
          name: Flughafen Sylt
          typeCode: 0.8008281904610115
        - distance:
            unit: m
            value: 2300
          name: Flughafen Sylt
          typeCode: 0.8008281904610115
        unitSystem: metric
        text: This family-run hotel in Wenningstedt on Sylt is just 820 feet from
          the beach. It offers rooms which are decorated in a typically Frisian style.
          A breakfast buffet is prepared each morning at the Sylter Domizil. The Wintergarten
          conservatory café/bistro serves snacks and drinks during the day. The bar
          includes a free internet terminal. The Sylter Domizil's 722 ft² spa features
          a sauna steam bath and fitness room. The terrace has wicker beach chairs
          for relaxing in.
        currencyCode: EUR
        uriPath: germany/schleswig-holstein/nordfriesland/wenningstedt-braderup-sylt/strandresidenz-sylt
      properties:
        code:
          description: The properties unique code/ID.
          example: strandresidenz-sylt
          type: string
        languageCode:
          description: The language code of the language in which the property description
            is written.<p>Please note that beside the general restrictions listed
            below only languages configured during system setup for your respective
            tenant are allowed.</p><p>See also <a href="#isolanguage-codes">in the
            appendix</a>.</p>
          enum:
          - af
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - es
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ko
          - lt
          - lv
          - nl
          - "no"
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tr
          - vi
          - zh
          example: en
          type: string
        currencyCode:
          description: The currency code for the currency in which prices are returned.<p>See
            also <a href="#currencycodes">in the appendix</a>.</p>
          enum:
          - AED
          - ARS
          - AUD
          - AZN
          - BGN
          - BHD
          - BRL
          - CAD
          - CHF
          - CLP
          - CNY
          - COP
          - CZK
          - DKK
          - EGP
          - EUR
          - FJD
          - GBP
          - GEL
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JOD
          - JPY
          - KRW
          - KWD
          - KZT
          - MDL
          - MXN
          - MYR
          - NAD
          - NOK
          - NZD
          - OMR
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - SEK
          - SGD
          - THB
          - TRY
          - TWD
          - UAH
          - USD
          - XOF
          - ZAR
          example: EUR
          type: string
        unitSystem:
          description: The unit system (either "metric" or "imperial") used for measurements.
          enum:
          - metric
          - imperial
          example: metric
          type: string
        name:
          description: The name of the property.
          example: Strandresidenz Sylt
          type: string
        uri:
          description: A URI for the property.
          example: strandresidenz-sylt
          type: string
        serviceList:
          description: A list of service codes indicating the services and amenities
            the property has.<p>See also <a href="#servicecodes">in the appendix</a>.</p>
          example:
          - 1
          - 2
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41
            - 42
            - 43
            - 44
            - 45
            - 46
            - 47
            - 48
            - 49
            - 50
            - 51
            - 52
            - 53
            - 54
            - 55
            - 56
            - 57
            - 58
            - 59
            - 60
            - 61
            - 62
            - 63
            - 64
            - 65
            - 66
            - 67
            - 68
            - 69
            - 70
            - 71
            - 72
            - 73
            - 74
            - 75
            - 76
            - 77
            - 78
            - 79
            - 80
            - 81
            - 82
            - 83
            - 84
            - 85
            - 86
            - 87
            - 88
            - 89
            - 90
            - 91
            - 92
            - 93
            - 94
            - 95
            - 96
            - 97
            - 98
            - 99
            - 100
            - 101
            - 102
            - 103
            - 104
            - 105
            - 106
            - 107
            - 108
            - 109
            - 110
            - 111
            - 112
            - 113
            - 114
            - 115
            - 116
            - 117
            - 118
            - 119
            - 120
            - 121
            - 122
            - 123
            - 124
            - 125
            - 126
            - 127
            - 128
            - 129
            - 130
            - 131
            - 132
            - 133
            - 134
            - 135
            - 136
            - 137
            - 138
            - 139
            - 140
            - 141
            - 142
            - 143
            - 144
            - 145
            - 146
            - 147
            - 148
            - 149
            - 150
            - 151
            - 152
            - 153
            - 154
            - 155
            - 156
            - 157
            - 158
            - 159
            - 160
            - 161
            - 162
            - 163
            - 164
            - 165
            - 166
            - 167
            - 168
            - 169
            - 170
            - 171
            - 172
            - 173
            - 174
            - 175
            - 176
            - 177
            - 178
            - 179
            - 180
            - 181
            - 182
            - 183
            - 184
            - 185
            - 186
            - 187
            - 188
            - 189
            - 190
            - 191
            - 192
            - 193
            - 194
            - 195
            - 196
            - 197
            - 198
            - 199
            - 200
            - 201
            - 202
            - 203
            - 204
            - 205
            - 206
            - 207
            - 208
            - 209
            - 210
            - 211
            - 212
            - 213
            - 214
            - 215
            - 216
            - 217
            - 218
            - 219
            - 220
            - 221
            - 222
            - 223
            - 224
            - 225
            - 226
            - 227
            - 228
            - 229
            - 230
            - 231
            - 232
            - 233
            - 234
            - 235
            - 236
            - 237
            - 238
            - 239
            - 240
            - 241
            - 242
            - 243
            - 244
            - 245
            - 246
            - 247
            - 248
            - 249
            - 250
            - 251
            - 252
            - 253
            - 254
            - 255
            - 256
            - 257
            - 258
            - 259
            - 260
            - 261
            - 262
            - 263
            - 264
            - 265
            - 266
            - 267
            - 268
            - 269
            - 270
            - 271
            - 272
            - 273
            - 274
            - 275
            - 276
            - 277
            - 278
            - 279
            - 280
            - 281
            - 282
            - 283
            - 284
            - 285
            - 286
            - 287
            - 288
            - 289
            - 290
            - 291
            - 292
            - 293
            - 294
            - 295
            - 296
            - 297
            - 298
            - 299
            - 300
            - 301
            - 302
            - 303
            - 304
            - 305
            - 306
            - 307
            - 308
            - 309
            - 310
            - 311
            - 312
            - 313
            - 314
            - 315
            - 316
            - 317
            - 318
            - 319
            - 320
            - 321
            - 322
            - 323
            - 324
            - 325
            - 326
            - 327
            - 328
            - 329
            - 331
            - 332
            - 333
            - 334
            - 335
            - 336
            - 337
            - 338
            - 339
            - 340
            - 341
            - 342
            - 343
            - 344
            - 345
            - 348
            - 349
            - 350
            - 351
            - 5000
            - 5001
            - 5002
            - 5003
            - 5004
            - 5005
            - 5006
            - 5007
            - 5008
            - 5009
            - 5010
            - 5011
            - 5012
            - 5013
            - 5014
            - 5015
            - 5016
            - 5017
            - 5018
            - 5020
            - 5021
            - 5022
            - 5023
            - 5024
            - 5025
            - 5026
            - 5027
            - 5028
            - 5029
            - 5030
            - 5031
            - 5032
            - 5033
            - 5034
            - 5035
            - 5036
            - 5037
            - 5039
            - 5040
            - 5041
            - 5042
            - 5043
            - 5044
            - 5045
            - 5046
            - 5047
            - 5048
            - 5049
            - 5050
            - 5051
            - 5052
            - 5053
            - 5054
            - 5055
            - 5056
            - 5057
            - 5058
            - 5059
            - 5060
            - 5061
            - 5062
            - 5063
            - 5064
            - 5065
            - 5066
            - 5067
            - 5068
            - 5069
            - 5070
            - 5071
            - 5072
            - 5073
            - 5074
            - 5075
            - 5076
            - 5077
            - 5078
            - 5079
            - 5080
            - 5081
            - 5082
            - 5083
            - 5084
            - 5085
            - 5086
            - 5087
            - 5088
            - 5089
            - 5090
            - 5091
            - 5092
            - 5093
            - 5094
            - 5095
            - 5096
            - 5097
            - 5098
            - 5099
            - 5100
            - 5101
            - 5102
            - 5103
            - 5104
            - 5105
            - 5106
            - 5107
            - 5108
            - 5109
            - 5110
            - 5111
            - 5112
            - 5113
            - 5114
            - 5115
            - 5116
            - 5117
            - 5118
            - 5119
            - 5120
            - 5121
            - 5122
            - 5123
            - 5124
            - 5125
            - 5126
            - 5127
            - 5128
            - 5129
            - 5130
            - 5131
            - 5132
            - 5133
            - 5134
            - 5135
            - 5136
            - 5137
            - 5138
            - 5139
            - 5140
            - 5141
            - 5142
            - 5143
            - 5144
            - 5145
            - 5146
            - 5147
            - 5148
            - 5149
            - 5150
            - 5151
            - 5152
            - 5153
            - 5154
            - 5156
            - 5157
            - 5158
            - 5159
            - 5160
            - 5161
            - 5162
            - 5163
            - 5164
            - 5165
            - 5166
            - 5167
            - 5168
            - 5169
            - 5170
            - 5171
            - 5172
            - 5173
            - 5174
            - 5175
            - 5176
            - 5177
            - 5178
            - 6000
            - 6001
            - 90001
            type: number
          type: array
        categoryList:
          description: A list of property class type codes indicating the types of
            the property.<p>See also <a href="#propertyclass-type-codes">in the appendix</a>.</p>
          example:
          - 3
          - 4
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41
            - 42
            - 43
            - 44
            - 45
            - 46
            - 47
            - 48
            - 49
            - 50
            - 51
            - 52
            - 53
            - 54
            - 55
            - 56
            - 57
            - 58
            - 59
            - 60
            - 61
            - 62
            - 5000
            - 5001
            - 5002
            - 5003
            - 5004
            - 5005
            - 5006
            - 5007
            - 5008
            - 5009
            type: number
          type: array
        uriPath:
          description: A URI path for the property.
          example: germany/schleswig-holstein/nordfriesland/wenningstedt-braderup-sylt/strandresidenz-sylt
          type: string
        text:
          description: A description of the property.
          example: This family-run hotel in Wenningstedt on Sylt is just 820 feet
            from the beach. It offers rooms which are decorated in a typically Frisian
            style. A breakfast buffet is prepared each morning at the Sylter Domizil.
            The Wintergarten conservatory café/bistro serves snacks and drinks during
            the day. The bar includes a free internet terminal. The Sylter Domizil's
            722 ft² spa features a sauna steam bath and fitness room. The terrace
            has wicker beach chairs for relaxing in.
          type: string
        geo:
          $ref: '#/components/schemas/Available_Properties_inner_1_geo'
        mediaList:
          description: A list of media objects for the property.
          items:
            $ref: '#/components/schemas/Available_Properties_inner_1_mediaList_inner'
          type: array
        attractionList:
          description: A list of objects describing the attractions available at the
            property.
          items:
            $ref: '#/components/schemas/Available_Properties_inner_1_attractionList_inner'
          type: array
        lowestPrice:
          $ref: '#/components/schemas/Available_Properties_inner_1_lowestPrice'
      required:
      - attractionList
      - categoryList
      - code
      - currencyCode
      - languageCode
      - lowestPrice
      - mediaList
      - name
      - serviceList
      - text
      - unitSystem
      - uri
      - uriPath
      type: object
    _availability_search_post_200_response:
      example:
        languageCode: af
        list:
        - lowestPrice:
            lengthOfStay: 1
            amount: 89.99
            returnDate: 1660867200
            currencyCode: EUR
            arrivalDate: 1660780800
          code: strandresidenz-sylt
          languageCode: en
          uri: strandresidenz-sylt
          geo:
            country: Germany
            formatted_address: "Nordhedig 20, 25980 Sylt, Germany"
            locality: Sylt
            sublocality: Westerland
            language: de
            sublocality_level_2: Some Sublocality
            sublocality_level_1: Westerland
            country_code: DE
            route: Nordhedig
            administrative_area_level_2: Friesland
            sublocality_level_5: Some Sublocality
            administrative_area_level_3: administrative_area_level_3
            sublocality_level_4: Some Sublocality
            sublocality_level_3: Some Sublocality
            administrative_area_level_1: Schleswig-Holstein
            street_number: "20"
            administrative_area_level_4: administrative_area_level_4
            location:
              lng: 8.304857
              lat: 54.9157118
            administrative_area_level_5: administrative_area_level_5
            postal_code: "25980"
            state_code: SH
            place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
          mediaList:
          - tagList:
            - 3
            - 55
            isMainImage: true
            sortOrder: 1000
            url: 5e3d9d49e9480.jpg
          - tagList:
            - 3
            - 55
            isMainImage: true
            sortOrder: 1000
            url: 5e3d9d49e9480.jpg
          name: Strandresidenz Sylt
          serviceList:
          - 1
          - 2
          categoryList:
          - 3
          - 4
          attractionList:
          - distance:
              unit: m
              value: 2300
            name: Flughafen Sylt
            typeCode: 0.8008281904610115
          - distance:
              unit: m
              value: 2300
            name: Flughafen Sylt
            typeCode: 0.8008281904610115
          unitSystem: metric
          text: This family-run hotel in Wenningstedt on Sylt is just 820 feet from
            the beach. It offers rooms which are decorated in a typically Frisian
            style. A breakfast buffet is prepared each morning at the Sylter Domizil.
            The Wintergarten conservatory café/bistro serves snacks and drinks during
            the day. The bar includes a free internet terminal. The Sylter Domizil's
            722 ft² spa features a sauna steam bath and fitness room. The terrace
            has wicker beach chairs for relaxing in.
          currencyCode: EUR
          uriPath: germany/schleswig-holstein/nordfriesland/wenningstedt-braderup-sylt/strandresidenz-sylt
        - lowestPrice:
            lengthOfStay: 1
            amount: 89.99
            returnDate: 1660867200
            currencyCode: EUR
            arrivalDate: 1660780800
          code: strandresidenz-sylt
          languageCode: en
          uri: strandresidenz-sylt
          geo:
            country: Germany
            formatted_address: "Nordhedig 20, 25980 Sylt, Germany"
            locality: Sylt
            sublocality: Westerland
            language: de
            sublocality_level_2: Some Sublocality
            sublocality_level_1: Westerland
            country_code: DE
            route: Nordhedig
            administrative_area_level_2: Friesland
            sublocality_level_5: Some Sublocality
            administrative_area_level_3: administrative_area_level_3
            sublocality_level_4: Some Sublocality
            sublocality_level_3: Some Sublocality
            administrative_area_level_1: Schleswig-Holstein
            street_number: "20"
            administrative_area_level_4: administrative_area_level_4
            location:
              lng: 8.304857
              lat: 54.9157118
            administrative_area_level_5: administrative_area_level_5
            postal_code: "25980"
            state_code: SH
            place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
          mediaList:
          - tagList:
            - 3
            - 55
            isMainImage: true
            sortOrder: 1000
            url: 5e3d9d49e9480.jpg
          - tagList:
            - 3
            - 55
            isMainImage: true
            sortOrder: 1000
            url: 5e3d9d49e9480.jpg
          name: Strandresidenz Sylt
          serviceList:
          - 1
          - 2
          categoryList:
          - 3
          - 4
          attractionList:
          - distance:
              unit: m
              value: 2300
            name: Flughafen Sylt
            typeCode: 0.8008281904610115
          - distance:
              unit: m
              value: 2300
            name: Flughafen Sylt
            typeCode: 0.8008281904610115
          unitSystem: metric
          text: This family-run hotel in Wenningstedt on Sylt is just 820 feet from
            the beach. It offers rooms which are decorated in a typically Frisian
            style. A breakfast buffet is prepared each morning at the Sylter Domizil.
            The Wintergarten conservatory café/bistro serves snacks and drinks during
            the day. The bar includes a free internet terminal. The Sylter Domizil's
            722 ft² spa features a sauna steam bath and fitness room. The terrace
            has wicker beach chairs for relaxing in.
          currencyCode: EUR
          uriPath: germany/schleswig-holstein/nordfriesland/wenningstedt-braderup-sylt/strandresidenz-sylt
      properties:
        languageCode:
          description: The language code of the language in which the descriptive
            texts for each found property are returned.<p>Please note that beside
            the general restrictions listed below only languages configured during
            system setup for your respective tenant are allowed.</p><p>See also <a
            href="#isolanguage-codes">in the appendix</a>.</p>
          enum:
          - af
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - es
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ko
          - lt
          - lv
          - nl
          - "no"
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tr
          - vi
          - zh
          type: string
        list:
          description: A list of available properties matching the given criteria.
          items:
            $ref: '#/components/schemas/Available_Properties_inner_1'
          title: Available Properties
          type: array
      required:
      - languageCode
      - list
      type: object
    _properties_get_200_response_list_inner:
      example:
        image: obj_1280x960_54620_001.jpg
        lastUpdated: 1652091337389
        address: Nordhedig 20 25980 Sylt Germany
        name: Strandresidenz Sylt
        published: false
        propertyId: strandresidenz-sylt
      properties:
        published:
          description: Whether the property is in published state.
          example: false
          type: boolean
        name:
          description: The name of the property.
          example: Strandresidenz Sylt
          type: string
        propertyId:
          description: The unique identifier for the property.
          example: strandresidenz-sylt
          type: string
        image:
          description: The file name of the image for the property.
          example: obj_1280x960_54620_001.jpg
          type: string
        address:
          description: The address of the property.
          example: Nordhedig 20 25980 Sylt Germany
          type: string
        lastUpdated:
          description: The timestamp of the last update to the property (Unix in ms).
          example: 1652091337389
          type: number
      required:
      - address
      - image
      - lastUpdated
      - name
      - propertyId
      - published
      type: object
    _properties_get_200_response:
      example:
        pageToken: eyJ0ZW5hbnRDb2RlIjoiZG1vLWRlbW8iLCJuYW1lIjoiTGFuZGhhdXMgVHJlc2tlcnNhbmQiLCJwcm9wZXJ0eUlkIjoibGFuZGhhdXMtdHJlc2tlcnNhbmQifQ==
        list:
        - image: obj_1280x960_54620_001.jpg
          lastUpdated: 1652091337389
          address: Nordhedig 20 25980 Sylt Germany
          name: Strandresidenz Sylt
          published: false
          propertyId: strandresidenz-sylt
        - image: obj_1280x960_54620_001.jpg
          lastUpdated: 1652091337389
          address: Nordhedig 20 25980 Sylt Germany
          name: Strandresidenz Sylt
          published: false
          propertyId: strandresidenz-sylt
      properties:
        list:
          items:
            $ref: '#/components/schemas/_properties_get_200_response_list_inner'
          type: array
        pageToken:
          description: "The page token to pass in the subsequent call to retrieve\
            \ more results, only returned if more results are available."
          example: eyJ0ZW5hbnRDb2RlIjoiZG1vLWRlbW8iLCJuYW1lIjoiTGFuZGhhdXMgVHJlc2tlcnNhbmQiLCJwcm9wZXJ0eUlkIjoibGFuZGhhdXMtdHJlc2tlcnNhbmQifQ==
          type: string
      required:
      - list
      type: object
    _properties__propertyId__get_200_response_property_recordCreated:
      description: Information regarding the creation of the property object.
      example:
        role: admin
        time: 1652091332815
        user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
        tenant: dmo-demo
      properties:
        user:
          description: The user that performed the edit action on the property.
          example: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
          type: string
        tenant:
          description: The tenant for which the user performed the edit action on
            the property.
          example: dmo-demo
          type: string
        role:
          description: The role of the user that performed the edit action on the
            property.
          example: admin
          type: string
        time:
          description: The timestamp at which the edit action was performed.
          example: 1652091332815
          type: number
      required:
      - tenant
      - time
      - user
      type: object
    _properties__propertyId__get_200_response_property_recordModified:
      description: Information regarding the last modification of the property object.
      example:
        role: admin
        time: 1652091332815
        user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
        tenant: dmo-demo
      properties:
        user:
          description: The user that performed the edit action on the property.
          example: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
          type: string
        tenant:
          description: The tenant for which the user performed the edit action on
            the property.
          example: dmo-demo
          type: string
        role:
          description: The role of the user that performed the edit action on the
            property.
          example: admin
          type: string
        time:
          description: The timestamp at which the edit action was performed.
          example: 1652091332815
          type: number
      required:
      - tenant
      - time
      - user
      type: object
    _properties__propertyId__get_200_response_property_propertyInfo_messageList_inner:
      properties:
        languageCode:
          description: The language of this message.<p>Please note that beside the
            general restrictions listed below only languages configured during system
            setup for your respective tenant are allowed.</p><p>See also <a href="#isolanguage-codes">in
            the appendix</a>.</p>
          enum:
          - af
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - es
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ko
          - lt
          - lv
          - nl
          - "no"
          - pl
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tr
          - vi
          - zh
          example: en
          type: string
        text:
          description: The text of this message.
          example: "More sea does not work! In a unique location just behind the dunes,\
            \ less than 100 steps from the beach and the spa promenade, in a prime\
            \ location on the beach “Nordhedig”, you can enjoy your stay in a small,\
            \ new 5-star luxury complex (DTV classification) with a total of 4 separate\
            \ apartments for 2-4 people. The interior has a modern rural style that\
            \ offers all the amenities. You can find films about the property and\
            \ individual apartments on our website."
          type: string
      required:
      - languageCode
      - text
      type: object
    _properties__propertyId__get_200_response_property_propertyInfo_acceptedPaymentList_inner:
      example:
        code: eccard
        type: debitcard
      properties:
        code:
          description: The code of the payment option.
          enum:
          - amex
          - visa
          - mastercard
          - diners
          - jcb
          - maestro
          - discover
          - bancontact
          - cashonly
          - bankcard
          - cartasi
          - argencard
          - cabal
          - redcompra
          - other
          - greatwall
          - dragonpay
          - eftpos
          - hipercard
          - unionpaydebit
          - eccard
          - bccard
          - mastercardvirtual
          - mastercardgoogle
          - unionpaycredit
          example: eccard
          type: string
        type:
          description: The type of the payment option.
          enum:
          - creditcard
          - debitcard
          - paymentservice
          - cash
          example: debitcard
          type: string
      required:
      - code
      - type
      type: object
    _properties__propertyId__get_200_response_property_propertyInfo:
      description: General information regarding the property.
      example:
        messageList:
        - languageCode: en
          text: "More sea does not work! In a unique location just behind the dunes,\
            \ less than 100 steps from the beach and the spa promenade, in a prime\
            \ location on the beach “Nordhedig”, you can enjoy your stay in a small,\
            \ new 5-star luxury complex (DTV classification) with a total of 4 separate\
            \ apartments for 2-4 people. The interior has a modern rural style that\
            \ offers all the amenities. You can find films about the property and\
            \ individual apartments on our website. "
        - languageCode: da
          text: "Mere hav virker ikke! I en unik beliggenhed lige bag klitterne, mindre\
            \ end 100 skridt fra stranden og spa-promenaden, i en førsteklasses beliggenhed\
            \ på stranden „Nordhedig“, kan du nyde dit ophold i et lille, nyt 5-stjernet\
            \ luksuskompleks (DTV klassifikation) med i alt 4 separate lejligheder\
            \ til 2-4 personer. Interiøret har en moderne landlig stil, der tilbyder\
            \ alle bekvemmeligheder. Du kan finde film om ejendommen og individuelle\
            \ lejligheder på vores hjemmeside. "
        - languageCode: nl
          text: "Meer zee werkt niet! Op een unieke locatie net achter de duinen,\
            \ op minder dan 100 stappen van het strand en de spa-promenade, op een\
            \ toplocatie aan het strand „Nordhedig”, kunt u genieten van uw verblijf\
            \ in een klein, nieuw 5-sterren luxe complex (DTV classificatie) met in\
            \ totaal 4 aparte appartementen voor 2-4 personen. Het interieur heeft\
            \ een moderne landelijke stijl die alle voorzieningen biedt. U kunt films\
            \ over het pand en de individuele appartementen vinden op onze website. "
        - languageCode: de
          text: "Mehr Meer geht nicht! In einer einzigartigen Lage direkt hinter den\
            \ Dünen, weniger als 100 Schritte vom Strand und der Kurpromenade entfernt,\
            \ in bester Lage am Strand „Nordhedig“, können Sie Ihren Aufenthalt in\
            \ einem kleinen, neuen 5-Sterne-Luxuskomplex (DTV-Klassifizierung) mit\
            \ insgesamt 4 separaten Apartments für 2-4 Personen genießen. Das Interieur\
            \ hat einen modernen ländlichen Stil, der alle Annehmlichkeiten bietet.\
            \ Filme über das Anwesen und einzelne Apartments finden Sie auf unserer\
            \ Website. "
        unitCount: 4
        categoryList:
        - 1
        - 14
        - 42
        location:
          lng: 8.304857
          lat: 54.9157118
        languageList:
        - de
        - en-gb
        acceptedPaymentList:
        - code: eccard
          type: debitcard
        - code: eccard
          type: debitcard
      properties:
        unitCount:
          description: The amount of units the property has.
          example: 4
          type: number
        messageList:
          description: Contains a descriptive message for this property in all supported
            languages.
          example:
          - languageCode: en
            text: "More sea does not work! In a unique location just behind the dunes,\
              \ less than 100 steps from the beach and the spa promenade, in a prime\
              \ location on the beach “Nordhedig”, you can enjoy your stay in a small,\
              \ new 5-star luxury complex (DTV classification) with a total of 4 separate\
              \ apartments for 2-4 people. The interior has a modern rural style that\
              \ offers all the amenities. You can find films about the property and\
              \ individual apartments on our website. "
          - languageCode: da
            text: "Mere hav virker ikke! I en unik beliggenhed lige bag klitterne,\
              \ mindre end 100 skridt fra stranden og spa-promenaden, i en førsteklasses\
              \ beliggenhed på stranden „Nordhedig“, kan du nyde dit ophold i et lille,\
              \ nyt 5-stjernet luksuskompleks (DTV klassifikation) med i alt 4 separate\
              \ lejligheder til 2-4 personer. Interiøret har en moderne landlig stil,\
              \ der tilbyder alle bekvemmeligheder. Du kan finde film om ejendommen\
              \ og individuelle lejligheder på vores hjemmeside. "
          - languageCode: nl
            text: "Meer zee werkt niet! Op een unieke locatie net achter de duinen,\
              \ op minder dan 100 stappen van het strand en de spa-promenade, op een\
              \ toplocatie aan het strand „Nordhedig”, kunt u genieten van uw verblijf\
              \ in een klein, nieuw 5-sterren luxe complex (DTV classificatie) met\
              \ in totaal 4 aparte appartementen voor 2-4 personen. Het interieur\
              \ heeft een moderne landelijke stijl die alle voorzieningen biedt. U\
              \ kunt films over het pand en de individuele appartementen vinden op\
              \ onze website. "
          - languageCode: de
            text: "Mehr Meer geht nicht! In einer einzigartigen Lage direkt hinter\
              \ den Dünen, weniger als 100 Schritte vom Strand und der Kurpromenade\
              \ entfernt, in bester Lage am Strand „Nordhedig“, können Sie Ihren Aufenthalt\
              \ in einem kleinen, neuen 5-Sterne-Luxuskomplex (DTV-Klassifizierung)\
              \ mit insgesamt 4 separaten Apartments für 2-4 Personen genießen. Das\
              \ Interieur hat einen modernen ländlichen Stil, der alle Annehmlichkeiten\
              \ bietet. Filme über das Anwesen und einzelne Apartments finden Sie\
              \ auf unserer Website. "
          items:
            $ref: '#/components/schemas/_properties__propertyId__get_200_response_property_propertyInfo_messageList_inner'
          type: array
        categoryList:
          description: A list of code of the property class types that apply to the
            property.
          example:
          - 1
          - 14
          - 42
          items:
            description: A property class type code.<p>See also <a href="#propertyclass-type-codes">in
              the appendix</a>.</p>
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41
            - 42
            - 43
            - 44
            - 45
            - 46
            - 47
            - 48
            - 49
            - 50
            - 51
            - 52
            - 53
            - 54
            - 55
            - 56
            - 57
            - 58
            - 59
            - 60
            - 61
            - 62
[...]
