openapi: 3.0.3
info:
  contact:
    email: info@lodgea.com
  description: LODGEA SDK for Java. Check out https://lodgea.redoc.ly for more information.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.lodgea.com/terms.html
  title: lodgea-java
  version: 1.0.0
  x-logo:
    url: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXl-QhaTubd2d5u-vb0H05ldQ6MgwmhAGa8J7ZikSj&s
    altText: LODGEA logo
externalDocs:
  description: Read the docs
  url: https://lodgea.redoc.ly/
servers:
- description: API for Europe customers
  url: https://api.eu.lodgea.io
- description: API for German customers
  url: https://api.uat.lodgea.io
- description: API for US customers
  url: https://api.us.lodgea.io
tags:
- description: Availability Endpoint
  name: availability
- description: Location Endpoint
  name: location
- description: Property Endpoint
  name: property
paths:
  /v1/property/get:
    post:
      description: Get all information about a specific property by its ID. This parameter
        is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertyGet'
        description: Provide the property ID to get more information about it
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_property_get_post_200_response'
          description: Successful operation
        "400":
          description: Bad request - missing parameter
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "401":
          description: API Key is missing or invalid
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "403":
          description: Forbidden
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "404":
          description: Not Found
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "405":
          description: Invalid input
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "429":
          description: Rate Limiting
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "500":
          description: Internal server error
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "503":
          description: Server error
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
      security:
      - ApiKeyAuth: []
      summary: Get Property by ID
      tags:
      - property
      x-content-type: application/json
      x-accepts: application/json
  /v1/availability/search:
    post:
      description: Get availability information based on search criteria. The possible
        values for the different content parameters are listed below. All parameters
        are optional.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/availabilitySearch'
        description: "Search Criteria, all parameters are optional"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_availability_search_post_200_response'
          description: Successful operation
        "400":
          description: Bad request - missing parameter
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "401":
          description: API Key is missing or invalid
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "403":
          description: Forbidden
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "404":
          description: Not Found
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "405":
          description: Invalid input
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "429":
          description: Rate Limiting
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "500":
          description: Internal server error
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "503":
          description: Server error
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
      security:
      - ApiKeyAuth: []
      summary: Search for Availability
      tags:
      - availability
      x-content-type: application/json
      x-accepts: application/json
  /v1/location/search:
    post:
      description: Get a location by search text in free from. This parameter is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locationSearch'
        description: Free-text search criteria
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_location_search_post_200_response'
          description: Successful operation
        "400":
          description: Bad request - missing parameter
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "401":
          description: API Key is missing or invalid
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "403":
          description: Forbidden
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "404":
          description: Not Found
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "405":
          description: Invalid input
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "429":
          description: Rate Limiting
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "500":
          description: Internal server error
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
        "503":
          description: Server error
          headers:
            apiKey:
              $ref: '#/components/headers/apiKey'
      security:
      - ApiKeyAuth: []
      summary: Search for Location
      tags:
      - location
      x-content-type: application/json
      x-accepts: application/json
components:
  headers:
    apiKey:
      description: Customer specific API Key
      explode: false
      schema:
        type: string
      style: simple
  responses:
    "400":
      description: Bad request - missing parameter
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    "401":
      description: API Key is missing or invalid
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    "403":
      description: Forbidden
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    "404":
      description: Not Found
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    "405":
      description: Invalid input
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    "429":
      description: Rate Limiting
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    "500":
      description: Internal server error
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    "503":
      description: Server error
      headers:
        apiKey:
          $ref: '#/components/headers/apiKey'
    locationSearch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v1_location_search_post_200_response'
      description: Successful operation
    availabilitySearch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v1_availability_search_post_200_response'
      description: Successful operation
    propertyGet:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v1_property_get_post_200_response'
      description: Successful operation
  schemas:
    locationSearch:
      properties:
        searchText:
          example: Hotel Stadt Hamburg
          type: string
      required:
      - searchText
      type: object
    availabilitySearch:
      properties:
        adultCount:
          example: 2
          type: number
        childCount:
          example: 2
          type: number
        childAgeList:
          items:
            example: 3
            type: number
          type: array
        currencyCode:
          example: EUR
          type: string
        minLengthOfStay:
          example: 1
          type: number
        maxLengthOfStay:
          example: 27
          type: number
        locationName:
          example: Oberbayern
          type: string
        locationType:
          example: locality
          type: string
        earliestArrival:
          example: 2022-09-01
          format: date
          type: string
        latestReturn:
          example: 2022-09-08
          format: date
          type: string
        sort:
          example: quality
          type: string
        serviceList:
          items:
            example: 242
            type: number
          type: array
        typeList:
          items:
            example: 20
            type: number
          type: array
        unitTypeList:
          items:
            example: 9
            type: number
          type: array
        unitAmenityList:
          items:
            example: 50
            type: number
          type: array
        mealPlanList:
          items:
            example: 19
            type: number
          type: array
      type: object
    propertyGet:
      properties:
        propertyId:
          example: strandresidenz-sylt
          type: string
      type: object
    _v1_property_get_post_200_response_property_recordCreated:
      example:
        role: admin
        time: 1609411613660
        user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
        tenant: dmo-demo
      properties:
        user:
          example: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
          type: string
        tenant:
          example: dmo-demo
          type: string
        role:
          example: admin
          type: string
        time:
          example: 1609411613660
          type: number
      type: object
    _v1_property_get_post_200_response_property_recordModified:
      example:
        role: admin
        time: 1652091332815
        user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
        tenant: dmo-demo
      properties:
        user:
          example: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
          type: string
        tenant:
          example: dmo-demo
          type: string
        role:
          example: admin
          type: string
        time:
          example: 1652091332815
          type: number
      type: object
    _v1_property_get_post_200_response_property_propertyInfo_messageList_inner:
      example:
        text: More sea does not work!
        languageCode: en
      properties:
        languageCode:
          example: en
          type: string
        text:
          example: More sea does not work!
          type: string
      type: object
    _v1_property_get_post_200_response_property_propertyInfo_categoryList_inner:
      example:
        code: 34
        name: Vacation home
        exists: true
      properties:
        exists:
          type: boolean
        code:
          example: 34
          type: number
        name:
          example: Vacation home
          type: string
      type: object
    _v1_property_get_post_200_response_property_propertyInfo_location:
      example:
        latitude: 54.91574091463751
        longitude: 8.30486146909412
      properties:
        latitude:
          example: 54.91574091463751
          type: number
        longitude:
          example: 8.30486146909412
          type: number
      type: object
    _v1_property_get_post_200_response_property_propertyInfo_acceptedPaymentList_inner:
      example:
        code: eccard
        name: EC-card
        type: debitcard
      properties:
        code:
          example: eccard
          type: string
        name:
          example: EC-card
          type: string
        type:
          example: debitcard
          type: string
      type: object
    _v1_property_get_post_200_response_property_propertyInfo:
      example:
        messageList:
        - text: More sea does not work!
          languageCode: en
        - text: More sea does not work!
          languageCode: en
        unitCount: 4
        categoryList:
        - code: 34
          name: Vacation home
          exists: true
        - code: 34
          name: Vacation home
          exists: true
        location:
          latitude: 54.91574091463751
          longitude: 8.30486146909412
        languageList:
        - de
        - de
        acceptedPaymentList:
        - code: eccard
          name: EC-card
          type: debitcard
        - code: eccard
          name: EC-card
          type: debitcard
      properties:
        unitCount:
          example: 4
          type: number
        messageList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_propertyInfo_messageList_inner'
          type: array
        categoryList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_propertyInfo_categoryList_inner'
          type: array
        languageList:
          items:
            example: de
            type: string
          type: array
        location:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_propertyInfo_location'
        acceptedPaymentList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_propertyInfo_acceptedPaymentList_inner'
          type: array
      type: object
    _v1_property_get_post_200_response_property_guestInfo:
      example:
        guestNameListRequired: true
        guestContactNumberRequired: true
        guestAddressRequired: true
      properties:
        guestAddressRequired:
          type: boolean
        guestContactNumberRequired:
          type: boolean
        guestNameListRequired:
          type: boolean
      type: object
    _v1_property_get_post_200_response_property_awardList_inner:
      example:
        provider: star-rating
        rating: 0
      properties:
        provider:
          example: star-rating
          type: string
        rating:
          example: 0
          type: number
      type: object
    _v1_property_get_post_200_response_property_contactList_inner_addressList_inner:
      example:
        cityName: Sylt
        propertyName: Strandresidenz Sylt
        countryCode: DE
        postalCode: "25980"
        state: SH
        addressLine: Nordhedig 20
      properties:
        addressLine:
          example: Nordhedig 20
          type: string
        propertyName:
          example: Strandresidenz Sylt
          type: string
        cityName:
          example: Sylt
          type: string
        postalCode:
          example: "25980"
          type: string
        state:
          example: SH
          type: string
        countryCode:
          example: DE
          type: string
      type: object
    _v1_property_get_post_200_response_property_contactList_inner:
      example:
        profileType: physicallocation
        addressList:
        - cityName: Sylt
          propertyName: Strandresidenz Sylt
          countryCode: DE
          postalCode: "25980"
          state: SH
          addressLine: Nordhedig 20
        - cityName: Sylt
          propertyName: Strandresidenz Sylt
          countryCode: DE
          postalCode: "25980"
          state: SH
          addressLine: Nordhedig 20
      properties:
        profileType:
          example: physicallocation
          type: string
        addressList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_contactList_inner_addressList_inner'
          type: array
      type: object
    _v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_amenityList_inner:
      example:
        code: "5005"
        quantity: 1
      properties:
        code:
          example: "5005"
          type: string
        quantity:
          example: 1
          type: number
      type: object
    _v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_messageList_inner:
      example:
        text: Maisonette apartment on ground floor
        languageCode: en
      properties:
        languageCode:
          example: en
          type: string
        text:
          example: Maisonette apartment on ground floor
          type: string
      type: object
    _v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_mediaList_inner_tagList_inner:
      example:
        code: 159
        name: Living room
      properties:
        code:
          example: 159
          type: number
        name:
          example: Living room
          type: string
      type: object
    _v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_mediaList_inner_roomAmenityList_inner:
      example:
        code: 146
        name: Tables and chairs
      properties:
        code:
          example: 146
          type: number
        name:
          example: Tables and chairs
          type: string
      type: object
    _v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_mediaList_inner:
      example:
        tagList:
        - code: 159
          name: Living room
        - code: 159
          name: Living room
        roomAmenityList:
        - code: 146
          name: Tables and chairs
        - code: 146
          name: Tables and chairs
        isMainImage: true
        detectionLabelList:
        - furniture
        - furniture
        sortOrder: 1001
        moderationLabelList:
        - moderationLabelList
        - moderationLabelList
        propertyAmenityList:
        - propertyAmenityList
        - propertyAmenityList
        url: zim_1280x960_164357_002.jpg
      properties:
        isMainImage:
          type: boolean
        sortOrder:
          example: 1001
          type: number
        url:
          example: zim_1280x960_164357_002.jpg
          type: string
        tagList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_mediaList_inner_tagList_inner'
          type: array
        moderationLabelList:
          items:
            type: string
          type: array
        detectionLabelList:
          items:
            example: furniture
            type: string
          type: array
        propertyAmenityList:
          items:
            type: string
          type: array
        roomAmenityList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_mediaList_inner_roomAmenityList_inner'
          type: array
      type: object
    _v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner:
      example:
        roomTypeCode: "1"
        typeName: typeName
        roomTypeName: roomTypeName
        maxAdultOccupancy: "4"
        descriptionText: descriptionText
        isActive: true
        amenityList:
        - code: "5005"
          quantity: 1
        - code: "5005"
          quantity: 1
        roomId: amrum
        maxChildOccupancy: "4"
        isNonSmoking: true
        mediaList:
        - tagList:
          - code: 159
            name: Living room
          - code: 159
            name: Living room
          roomAmenityList:
          - code: 146
            name: Tables and chairs
          - code: 146
            name: Tables and chairs
          isMainImage: true
          detectionLabelList:
          - furniture
          - furniture
          sortOrder: 1001
          moderationLabelList:
          - moderationLabelList
          - moderationLabelList
          propertyAmenityList:
          - propertyAmenityList
          - propertyAmenityList
          url: zim_1280x960_164357_002.jpg
        - tagList:
          - code: 159
            name: Living room
          - code: 159
            name: Living room
          roomAmenityList:
          - code: 146
            name: Tables and chairs
          - code: 146
            name: Tables and chairs
          isMainImage: true
          detectionLabelList:
          - furniture
          - furniture
          sortOrder: 1001
          moderationLabelList:
          - moderationLabelList
          - moderationLabelList
          propertyAmenityList:
          - propertyAmenityList
          - propertyAmenityList
          url: zim_1280x960_164357_002.jpg
        messageList:
        - text: Maisonette apartment on ground floor
          languageCode: en
        - text: Maisonette apartment on ground floor
          languageCode: en
        name: Amrum
        maxOccupancy: "4"
        imageList:
        - imageList
        - imageList
      properties:
        isActive:
          type: boolean
        roomId:
          example: amrum
          type: string
        name:
          example: Amrum
          type: string
        typeName:
          type: string
        descriptionText:
          type: string
        imageList:
          items:
            type: string
          type: array
        roomTypeCode:
          example: "1"
          type: string
        isNonSmoking:
          type: boolean
        roomTypeName:
          type: string
        amenityList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_amenityList_inner'
          type: array
        maxOccupancy:
          example: "4"
          type: string
        messageList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_messageList_inner'
          type: array
        mediaList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner_mediaList_inner'
          type: array
        maxAdultOccupancy:
          example: "4"
          type: string
        maxChildOccupancy:
          example: "4"
          type: string
      type: object
    _v1_property_get_post_200_response_property_facilityInfo:
      example:
        guestRoomList:
        - roomTypeCode: "1"
          typeName: typeName
          roomTypeName: roomTypeName
          maxAdultOccupancy: "4"
          descriptionText: descriptionText
          isActive: true
          amenityList:
          - code: "5005"
            quantity: 1
          - code: "5005"
            quantity: 1
          roomId: amrum
          maxChildOccupancy: "4"
          isNonSmoking: true
          mediaList:
          - tagList:
            - code: 159
              name: Living room
            - code: 159
              name: Living room
            roomAmenityList:
            - code: 146
              name: Tables and chairs
            - code: 146
              name: Tables and chairs
            isMainImage: true
            detectionLabelList:
            - furniture
            - furniture
            sortOrder: 1001
            moderationLabelList:
            - moderationLabelList
            - moderationLabelList
            propertyAmenityList:
            - propertyAmenityList
            - propertyAmenityList
            url: zim_1280x960_164357_002.jpg
          - tagList:
            - code: 159
              name: Living room
            - code: 159
              name: Living room
            roomAmenityList:
            - code: 146
              name: Tables and chairs
            - code: 146
              name: Tables and chairs
            isMainImage: true
            detectionLabelList:
            - furniture
            - furniture
            sortOrder: 1001
            moderationLabelList:
            - moderationLabelList
            - moderationLabelList
            propertyAmenityList:
            - propertyAmenityList
            - propertyAmenityList
            url: zim_1280x960_164357_002.jpg
          messageList:
          - text: Maisonette apartment on ground floor
            languageCode: en
          - text: Maisonette apartment on ground floor
            languageCode: en
          name: Amrum
          maxOccupancy: "4"
          imageList:
          - imageList
          - imageList
        - roomTypeCode: "1"
          typeName: typeName
          roomTypeName: roomTypeName
          maxAdultOccupancy: "4"
          descriptionText: descriptionText
          isActive: true
          amenityList:
          - code: "5005"
            quantity: 1
          - code: "5005"
            quantity: 1
          roomId: amrum
          maxChildOccupancy: "4"
          isNonSmoking: true
          mediaList:
          - tagList:
            - code: 159
              name: Living room
            - code: 159
              name: Living room
            roomAmenityList:
            - code: 146
              name: Tables and chairs
            - code: 146
              name: Tables and chairs
            isMainImage: true
            detectionLabelList:
            - furniture
            - furniture
            sortOrder: 1001
            moderationLabelList:
            - moderationLabelList
            - moderationLabelList
            propertyAmenityList:
            - propertyAmenityList
            - propertyAmenityList
            url: zim_1280x960_164357_002.jpg
          - tagList:
            - code: 159
              name: Living room
            - code: 159
              name: Living room
            roomAmenityList:
            - code: 146
              name: Tables and chairs
            - code: 146
              name: Tables and chairs
            isMainImage: true
            detectionLabelList:
            - furniture
            - furniture
            sortOrder: 1001
            moderationLabelList:
            - moderationLabelList
            - moderationLabelList
            propertyAmenityList:
            - propertyAmenityList
            - propertyAmenityList
            url: zim_1280x960_164357_002.jpg
          messageList:
          - text: Maisonette apartment on ground floor
            languageCode: en
          - text: Maisonette apartment on ground floor
            languageCode: en
          name: Amrum
          maxOccupancy: "4"
          imageList:
          - imageList
          - imageList
      properties:
        guestRoomList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_facilityInfo_guestRoomList_inner'
          type: array
      type: object
    _v1_property_get_post_200_response_property_mediaList_inner_tagList_inner:
      example:
        code: 3
        name: Property building
      properties:
        code:
          example: 3
          type: number
        name:
          example: Property building
          type: string
      type: object
    _v1_property_get_post_200_response_property_mediaList_inner:
      example:
        tagList:
        - code: 3
          name: Property building
        - code: 3
          name: Property building
        roomAmenityList:
        - roomAmenityList
        - roomAmenityList
        isMainImage: true
        detectionLabelList:
        - roof
        - roof
        sortOrder: 1000
        moderationLabelList:
        - moderationLabelList
        - moderationLabelList
        propertyAmenityList:
        - propertyAmenityList
        - propertyAmenityList
        url: obj_1280x960_54620_001.jpg
      properties:
        isMainImage:
          type: boolean
        sortOrder:
          example: 1000
          type: number
        url:
          example: obj_1280x960_54620_001.jpg
          type: string
        tagList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_mediaList_inner_tagList_inner'
          type: array
        moderationLabelList:
          items:
            type: string
          type: array
        detectionLabelList:
          items:
            example: roof
            type: string
          type: array
        propertyAmenityList:
          items:
            type: string
          type: array
        roomAmenityList:
          items:
            type: string
          type: array
      type: object
    _v1_property_get_post_200_response_property_geo_de_location:
      example:
        lng: 8.304857
        lat: 54.9157118
      properties:
        lat:
          example: 54.9157118
          type: number
        lng:
          example: 8.304857
          type: number
      type: object
    _v1_property_get_post_200_response_property_geo_de:
      example:
        country: Deutschland
        formatted_address: Nordhedig 20 25980 Sylt Deutschland
        locality: Sylt
        sublocality: Westerland
        language: de
        establishment: Sylt
        country_code: DE
        sublocality_level_1: Westerland
        route: Nordhedig
        administrative_area_level_3: Nordfriesland
        administrative_area_level_1: Schleswig-Holstein
        street_number: "20"
        location:
          lng: 8.304857
          lat: 54.9157118
        state_code: SH
        postal_code: "25980"
        natural_feature: Sylt
        place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
      properties:
        location:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_de_location'
        formatted_address:
          example: Nordhedig 20 25980 Sylt Deutschland
          type: string
        place_id:
          example: ChIJVaxqTevetEcRyfs8PGHK6mw
          type: string
        locality:
          example: Sylt
          type: string
        administrative_area_level_3:
          example: Nordfriesland
          type: string
        administrative_area_level_1:
          example: Schleswig-Holstein
          type: string
        state_code:
          example: SH
          type: string
        country:
          example: Deutschland
          type: string
        country_code:
          example: DE
          type: string
        postal_code:
          example: "25980"
          type: string
        language:
          example: de
          type: string
        natural_feature:
          example: Sylt
          type: string
        establishment:
          example: Sylt
          type: string
        sublocality:
          example: Westerland
          type: string
        sublocality_level_1:
          example: Westerland
          type: string
        street_number:
          example: "20"
          type: string
        route:
          example: Nordhedig
          type: string
      type: object
    _v1_property_get_post_200_response_property_geo_en:
      example:
        country: Germany
        formatted_address: Nordhedig 20 25980 Sylt Germany
        locality: Sylt
        sublocality: Westerland
        language: en
        establishment: Sylt
        country_code: DE
        sublocality_level_1: Westerland
        route: Nordhedig
        administrative_area_level_3: Nordfriesland
        administrative_area_level_1: Schleswig-Holstein
        street_number: "20"
        location:
          lng: 8.304857
          lat: 54.9157118
        state_code: SH
        postal_code: "25980"
        natural_feature: Sylt
        place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
      properties:
        location:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_de_location'
        formatted_address:
          example: Nordhedig 20 25980 Sylt Germany
          type: string
        place_id:
          example: ChIJVaxqTevetEcRyfs8PGHK6mw
          type: string
        locality:
          example: Sylt
          type: string
        administrative_area_level_3:
          example: Nordfriesland
          type: string
        administrative_area_level_1:
          example: Schleswig-Holstein
          type: string
        state_code:
          example: SH
          type: string
        country:
          example: Germany
          type: string
        country_code:
          example: DE
          type: string
        postal_code:
          example: "25980"
          type: string
        language:
          example: en
          type: string
        natural_feature:
          example: Sylt
          type: string
        establishment:
          example: Sylt
          type: string
        sublocality:
          example: Westerland
          type: string
        sublocality_level_1:
          example: Westerland
          type: string
        street_number:
          example: "20"
          type: string
        route:
          example: Nordhedig
          type: string
      type: object
    _v1_property_get_post_200_response_property_geo_da:
      example:
        country: Tyskland
        formatted_address: Nordhedig 20 25980 Sylt Tyskland
        locality: Sylt
        sublocality: Westerland
        language: da
        establishment: Sild
        country_code: DE
        sublocality_level_1: Westerland
        route: Nordhedig
        administrative_area_level_3: Nordfriesland
        administrative_area_level_1: Schleswig-Holstein
        street_number: "20"
        location:
          lng: 8.304857
          lat: 54.9157118
        state_code: SH
        postal_code: "25980"
        natural_feature: Sild
        place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
      properties:
        location:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_de_location'
        formatted_address:
          example: Nordhedig 20 25980 Sylt Tyskland
          type: string
        place_id:
          example: ChIJVaxqTevetEcRyfs8PGHK6mw
          type: string
        locality:
          example: Sylt
          type: string
        administrative_area_level_3:
          example: Nordfriesland
          type: string
        administrative_area_level_1:
          example: Schleswig-Holstein
          type: string
        state_code:
          example: SH
          type: string
        country:
          example: Tyskland
          type: string
        country_code:
          example: DE
          type: string
        postal_code:
          example: "25980"
          type: string
        language:
          example: da
          type: string
        natural_feature:
          example: Sild
          type: string
        establishment:
          example: Sild
          type: string
        sublocality:
          example: Westerland
          type: string
        sublocality_level_1:
          example: Westerland
          type: string
        street_number:
          example: "20"
          type: string
        route:
          example: Nordhedig
          type: string
      type: object
    _v1_property_get_post_200_response_property_geo_nl:
      example:
        country: Duitsland
        formatted_address: Nordhedig 20 25980 Sylt Duitsland
        locality: Sylt
        sublocality: Westerland
        language: nl
        establishment: Sylt
        country_code: DE
        sublocality_level_1: Westerland
        route: Nordhedig
        administrative_area_level_3: Nordfriesland
        administrative_area_level_1: Schleswig-Holstein
        street_number: "20"
        location:
          lng: 8.304857
          lat: 54.9157118
        state_code: SH
        postal_code: "25980"
        natural_feature: Sylt
        place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
      properties:
        location:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_de_location'
        formatted_address:
          example: Nordhedig 20 25980 Sylt Duitsland
          type: string
        place_id:
          example: ChIJVaxqTevetEcRyfs8PGHK6mw
          type: string
        locality:
          example: Sylt
          type: string
        administrative_area_level_3:
          example: Nordfriesland
          type: string
        administrative_area_level_1:
          example: Schleswig-Holstein
          type: string
        state_code:
          example: SH
          type: string
        country:
          example: Duitsland
          type: string
        country_code:
          example: DE
          type: string
        postal_code:
          example: "25980"
          type: string
        language:
          example: nl
          type: string
        natural_feature:
          example: Sylt
          type: string
        establishment:
          example: Sylt
          type: string
        sublocality:
          example: Westerland
          type: string
        sublocality_level_1:
          example: Westerland
          type: string
        street_number:
          example: "20"
          type: string
        route:
          example: Nordhedig
          type: string
      type: object
    _v1_property_get_post_200_response_property_geo:
      example:
        de:
          country: Deutschland
          formatted_address: Nordhedig 20 25980 Sylt Deutschland
          locality: Sylt
          sublocality: Westerland
          language: de
          establishment: Sylt
          country_code: DE
          sublocality_level_1: Westerland
          route: Nordhedig
          administrative_area_level_3: Nordfriesland
          administrative_area_level_1: Schleswig-Holstein
          street_number: "20"
          location:
            lng: 8.304857
            lat: 54.9157118
          state_code: SH
          postal_code: "25980"
          natural_feature: Sylt
          place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
        en:
          country: Germany
          formatted_address: Nordhedig 20 25980 Sylt Germany
          locality: Sylt
          sublocality: Westerland
          language: en
          establishment: Sylt
          country_code: DE
          sublocality_level_1: Westerland
          route: Nordhedig
          administrative_area_level_3: Nordfriesland
          administrative_area_level_1: Schleswig-Holstein
          street_number: "20"
          location:
            lng: 8.304857
            lat: 54.9157118
          state_code: SH
          postal_code: "25980"
          natural_feature: Sylt
          place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
        da:
          country: Tyskland
          formatted_address: Nordhedig 20 25980 Sylt Tyskland
          locality: Sylt
          sublocality: Westerland
          language: da
          establishment: Sild
          country_code: DE
          sublocality_level_1: Westerland
          route: Nordhedig
          administrative_area_level_3: Nordfriesland
          administrative_area_level_1: Schleswig-Holstein
          street_number: "20"
          location:
            lng: 8.304857
            lat: 54.9157118
          state_code: SH
          postal_code: "25980"
          natural_feature: Sild
          place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
        nl:
          country: Duitsland
          formatted_address: Nordhedig 20 25980 Sylt Duitsland
          locality: Sylt
          sublocality: Westerland
          language: nl
          establishment: Sylt
          country_code: DE
          sublocality_level_1: Westerland
          route: Nordhedig
          administrative_area_level_3: Nordfriesland
          administrative_area_level_1: Schleswig-Holstein
          street_number: "20"
          location:
            lng: 8.304857
            lat: 54.9157118
          state_code: SH
          postal_code: "25980"
          natural_feature: Sylt
          place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
      properties:
        de:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_de'
        en:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_en'
        da:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_da'
        nl:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo_nl'
      type: object
    _v1_property_get_post_200_response_property_policyList_inner_petsPolicy:
      example:
        byArrangement: true
        allowed: true
        freeOfCharge: true
      properties:
        allowed:
          type: boolean
        byArrangement:
          type: boolean
        freeOfCharge:
          type: boolean
      type: object
    _v1_property_get_post_200_response_property_policyList_inner_taxPolicyList_inner:
      example:
        conditionList:
        - conditionList
        - conditionList
        chargeType: included
        percent: 19
        currencyCode: EUR
        typeCode: 36
        chargeFrequencyCode: 12
      properties:
        typeCode:
          example: 36
          type: number
        percent:
          example: 19
          type: number
        chargeType:
          example: included
          type: string
        chargeFrequencyCode:
          example: 12
          type: number
        currencyCode:
          example: EUR
          type: string
        conditionList:
          items:
            type: string
          type: array
      type: object
    _v1_property_get_post_200_response_property_policyList_inner:
      example:
        cancellationPolicyList:
        - cancellationPolicyList
        - cancellationPolicyList
        checkOutTime: 43200000
        totalGuestCount: 10
        checkInTime: 54000000
        guaranteePolicy: guaranteePolicy
        taxPolicyList:
        - conditionList:
          - conditionList
          - conditionList
          chargeType: included
          percent: 19
          currencyCode: EUR
          typeCode: 36
          chargeFrequencyCode: 12
        - conditionList:
          - conditionList
          - conditionList
          chargeType: included
          percent: 19
          currencyCode: EUR
          typeCode: 36
          chargeFrequencyCode: 12
        prepaymentPolicy: after_reservation_is_made
        feePolicyList:
        - feePolicyList
        - feePolicyList
        advanceBookingMin: 34560000
        advanceBookingMax: 0
        petsPolicy:
          byArrangement: true
          allowed: true
          freeOfCharge: true
      properties:
        checkInTime:
          example: 54000000
          type: number
        checkOutTime:
          example: 43200000
          type: number
        totalGuestCount:
          example: 10
          type: number
        cancellationPolicyList:
          items:
            type: string
          type: array
        advanceBookingMin:
          example: 34560000
          type: number
        advanceBookingMax:
          example: 0
          type: number
        petsPolicy:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_policyList_inner_petsPolicy'
        prepaymentPolicy:
          example: after_reservation_is_made
          type: string
        guaranteePolicy:
          format: nullable
          type: string
        taxPolicyList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_policyList_inner_taxPolicyList_inner'
          type: array
        feePolicyList:
          items:
            type: string
          type: array
      type: object
    _v1_property_get_post_200_response_property_transaction_externalList_inner:
      example:
        text: https://www.booking.com/
        languageCode: de
      properties:
        languageCode:
          example: de
          type: string
        text:
          example: https://www.booking.com/
          type: string
      type: object
    _v1_property_get_post_200_response_property_transaction:
      example:
        method: MANDATORY_BOOKING
        externalList:
        - text: https://www.booking.com/
          languageCode: de
        - text: https://www.booking.com/
          languageCode: de
        contactTypeList:
        - reservations
        - reservations
      properties:
        method:
          example: MANDATORY_BOOKING
          type: string
        contactTypeList:
          items:
            example: reservations
            type: string
          type: array
        externalList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_transaction_externalList_inner'
          type: array
      type: object
    _v1_property_get_post_200_response_property_cancellationGracePeriod:
      example:
        weeksBeforeCheckIn: 0
        hoursAfterBooking: 24
      properties:
        hoursAfterBooking:
          example: 24
          type: number
        weeksBeforeCheckIn:
          example: 0
          type: number
      type: object
    _v1_property_get_post_200_response_property_serviceList_inner:
      example:
        featureList:
        - featureList
        - featureList
        operationTimeList:
        - operationTimeList
        - operationTimeList
        code: 5015
        typeList:
        - typeList
        - typeList
        price: 0
        name: Beach
        exists: true
        itemList:
        - itemList
        - itemList
        included: true
        currencyCode: EUR
      properties:
        code:
          example: 5015
          type: number
        price:
          example: 0
          type: number
        exists:
          type: boolean
        included:
          type: boolean
        currencyCode:
          example: EUR
          type: string
        featureList:
          items:
            type: string
          type: array
        typeList:
          items:
            type: string
          type: array
        itemList:
          items:
            type: string
          type: array
        operationTimeList:
          items:
            type: string
          type: array
        name:
          example: Beach
          type: string
      type: object
    _v1_property_get_post_200_response_property:
      example:
        facilityInfo:
          guestRoomList:
          - roomTypeCode: "1"
            typeName: typeName
            roomTypeName: roomTypeName
            maxAdultOccupancy: "4"
            descriptionText: descriptionText
            isActive: true
            amenityList:
            - code: "5005"
              quantity: 1
            - code: "5005"
              quantity: 1
            roomId: amrum
            maxChildOccupancy: "4"
            isNonSmoking: true
            mediaList:
            - tagList:
              - code: 159
                name: Living room
              - code: 159
                name: Living room
              roomAmenityList:
              - code: 146
                name: Tables and chairs
              - code: 146
                name: Tables and chairs
              isMainImage: true
              detectionLabelList:
              - furniture
              - furniture
              sortOrder: 1001
              moderationLabelList:
              - moderationLabelList
              - moderationLabelList
              propertyAmenityList:
              - propertyAmenityList
              - propertyAmenityList
              url: zim_1280x960_164357_002.jpg
            - tagList:
              - code: 159
                name: Living room
              - code: 159
                name: Living room
              roomAmenityList:
              - code: 146
                name: Tables and chairs
              - code: 146
                name: Tables and chairs
              isMainImage: true
              detectionLabelList:
              - furniture
              - furniture
              sortOrder: 1001
              moderationLabelList:
              - moderationLabelList
              - moderationLabelList
              propertyAmenityList:
              - propertyAmenityList
              - propertyAmenityList
              url: zim_1280x960_164357_002.jpg
            messageList:
            - text: Maisonette apartment on ground floor
              languageCode: en
            - text: Maisonette apartment on ground floor
              languageCode: en
            name: Amrum
            maxOccupancy: "4"
            imageList:
            - imageList
            - imageList
          - roomTypeCode: "1"
            typeName: typeName
            roomTypeName: roomTypeName
            maxAdultOccupancy: "4"
            descriptionText: descriptionText
            isActive: true
            amenityList:
            - code: "5005"
              quantity: 1
            - code: "5005"
              quantity: 1
            roomId: amrum
            maxChildOccupancy: "4"
            isNonSmoking: true
            mediaList:
            - tagList:
              - code: 159
                name: Living room
              - code: 159
                name: Living room
              roomAmenityList:
              - code: 146
                name: Tables and chairs
              - code: 146
                name: Tables and chairs
              isMainImage: true
              detectionLabelList:
              - furniture
              - furniture
              sortOrder: 1001
              moderationLabelList:
              - moderationLabelList
              - moderationLabelList
              propertyAmenityList:
              - propertyAmenityList
              - propertyAmenityList
              url: zim_1280x960_164357_002.jpg
            - tagList:
              - code: 159
                name: Living room
              - code: 159
                name: Living room
              roomAmenityList:
              - code: 146
                name: Tables and chairs
              - code: 146
                name: Tables and chairs
              isMainImage: true
              detectionLabelList:
              - furniture
              - furniture
              sortOrder: 1001
              moderationLabelList:
              - moderationLabelList
              - moderationLabelList
              propertyAmenityList:
              - propertyAmenityList
              - propertyAmenityList
              url: zim_1280x960_164357_002.jpg
            messageList:
            - text: Maisonette apartment on ground floor
              languageCode: en
            - text: Maisonette apartment on ground floor
              languageCode: en
            name: Amrum
            maxOccupancy: "4"
            imageList:
            - imageList
            - imageList
        code: strandresidenz-sylt
        policyList:
        - cancellationPolicyList:
          - cancellationPolicyList
          - cancellationPolicyList
          checkOutTime: 43200000
          totalGuestCount: 10
          checkInTime: 54000000
          guaranteePolicy: guaranteePolicy
          taxPolicyList:
          - conditionList:
            - conditionList
            - conditionList
            chargeType: included
            percent: 19
            currencyCode: EUR
            typeCode: 36
            chargeFrequencyCode: 12
          - conditionList:
            - conditionList
            - conditionList
            chargeType: included
            percent: 19
            currencyCode: EUR
            typeCode: 36
            chargeFrequencyCode: 12
          prepaymentPolicy: after_reservation_is_made
          feePolicyList:
          - feePolicyList
          - feePolicyList
          advanceBookingMin: 34560000
          advanceBookingMax: 0
          petsPolicy:
            byArrangement: true
            allowed: true
            freeOfCharge: true
        - cancellationPolicyList:
          - cancellationPolicyList
          - cancellationPolicyList
          checkOutTime: 43200000
          totalGuestCount: 10
          checkInTime: 54000000
          guaranteePolicy: guaranteePolicy
          taxPolicyList:
          - conditionList:
            - conditionList
            - conditionList
            chargeType: included
            percent: 19
            currencyCode: EUR
            typeCode: 36
            chargeFrequencyCode: 12
          - conditionList:
            - conditionList
            - conditionList
            chargeType: included
            percent: 19
            currencyCode: EUR
            typeCode: 36
            chargeFrequencyCode: 12
          prepaymentPolicy: after_reservation_is_made
          feePolicyList:
          - feePolicyList
          - feePolicyList
          advanceBookingMin: 34560000
          advanceBookingMax: 0
          petsPolicy:
            byArrangement: true
            allowed: true
            freeOfCharge: true
        published: true
        guestInfo:
          guestNameListRequired: true
          guestContactNumberRequired: true
          guestAddressRequired: true
        uri: strandresidenz-sylt
        propertyInfo:
          messageList:
          - text: More sea does not work!
            languageCode: en
          - text: More sea does not work!
            languageCode: en
          unitCount: 4
          categoryList:
          - code: 34
            name: Vacation home
            exists: true
          - code: 34
            name: Vacation home
            exists: true
          location:
            latitude: 54.91574091463751
            longitude: 8.30486146909412
          languageList:
          - de
          - de
          acceptedPaymentList:
          - code: eccard
            name: EC-card
            type: debitcard
          - code: eccard
            name: EC-card
            type: debitcard
        geo:
          de:
            country: Deutschland
            formatted_address: Nordhedig 20 25980 Sylt Deutschland
            locality: Sylt
            sublocality: Westerland
            language: de
            establishment: Sylt
            country_code: DE
            sublocality_level_1: Westerland
            route: Nordhedig
            administrative_area_level_3: Nordfriesland
            administrative_area_level_1: Schleswig-Holstein
            street_number: "20"
            location:
              lng: 8.304857
              lat: 54.9157118
            state_code: SH
            postal_code: "25980"
            natural_feature: Sylt
            place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
          en:
            country: Germany
            formatted_address: Nordhedig 20 25980 Sylt Germany
            locality: Sylt
            sublocality: Westerland
            language: en
            establishment: Sylt
            country_code: DE
            sublocality_level_1: Westerland
            route: Nordhedig
            administrative_area_level_3: Nordfriesland
            administrative_area_level_1: Schleswig-Holstein
            street_number: "20"
            location:
              lng: 8.304857
              lat: 54.9157118
            state_code: SH
            postal_code: "25980"
            natural_feature: Sylt
            place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
          da:
            country: Tyskland
            formatted_address: Nordhedig 20 25980 Sylt Tyskland
            locality: Sylt
            sublocality: Westerland
            language: da
            establishment: Sild
            country_code: DE
            sublocality_level_1: Westerland
            route: Nordhedig
            administrative_area_level_3: Nordfriesland
            administrative_area_level_1: Schleswig-Holstein
            street_number: "20"
            location:
              lng: 8.304857
              lat: 54.9157118
            state_code: SH
            postal_code: "25980"
            natural_feature: Sild
            place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
          nl:
            country: Duitsland
            formatted_address: Nordhedig 20 25980 Sylt Duitsland
            locality: Sylt
            sublocality: Westerland
            language: nl
            establishment: Sylt
            country_code: DE
            sublocality_level_1: Westerland
            route: Nordhedig
            administrative_area_level_3: Nordfriesland
            administrative_area_level_1: Schleswig-Holstein
            street_number: "20"
            location:
              lng: 8.304857
              lat: 54.9157118
            state_code: SH
            postal_code: "25980"
            natural_feature: Sylt
            place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
        cancellationGracePeriod:
          weeksBeforeCheckIn: 0
          hoursAfterBooking: 24
        recordModified:
          role: admin
          time: 1652091332815
          user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
          tenant: dmo-demo
        contactList:
        - profileType: physicallocation
          addressList:
          - cityName: Sylt
            propertyName: Strandresidenz Sylt
            countryCode: DE
            postalCode: "25980"
            state: SH
            addressLine: Nordhedig 20
          - cityName: Sylt
            propertyName: Strandresidenz Sylt
            countryCode: DE
            postalCode: "25980"
            state: SH
            addressLine: Nordhedig 20
        - profileType: physicallocation
          addressList:
          - cityName: Sylt
            propertyName: Strandresidenz Sylt
            countryCode: DE
            postalCode: "25980"
            state: SH
            addressLine: Nordhedig 20
          - cityName: Sylt
            propertyName: Strandresidenz Sylt
            countryCode: DE
            postalCode: "25980"
            state: SH
            addressLine: Nordhedig 20
        mediaList:
        - tagList:
          - code: 3
            name: Property building
          - code: 3
            name: Property building
          roomAmenityList:
          - roomAmenityList
          - roomAmenityList
          isMainImage: true
          detectionLabelList:
          - roof
          - roof
          sortOrder: 1000
          moderationLabelList:
          - moderationLabelList
          - moderationLabelList
          propertyAmenityList:
          - propertyAmenityList
          - propertyAmenityList
          url: obj_1280x960_54620_001.jpg
        - tagList:
          - code: 3
            name: Property building
          - code: 3
            name: Property building
          roomAmenityList:
          - roomAmenityList
          - roomAmenityList
          isMainImage: true
          detectionLabelList:
          - roof
          - roof
          sortOrder: 1000
          moderationLabelList:
          - moderationLabelList
          - moderationLabelList
          propertyAmenityList:
          - propertyAmenityList
          - propertyAmenityList
          url: obj_1280x960_54620_001.jpg
        name: Strandresidenz Sylt
        serviceList:
        - featureList:
          - featureList
          - featureList
          operationTimeList:
          - operationTimeList
          - operationTimeList
          code: 5015
          typeList:
          - typeList
          - typeList
          price: 0
          name: Beach
          exists: true
          itemList:
          - itemList
          - itemList
          included: true
          currencyCode: EUR
        - featureList:
          - featureList
          - featureList
          operationTimeList:
          - operationTimeList
          - operationTimeList
          code: 5015
          typeList:
          - typeList
          - typeList
          price: 0
          name: Beach
          exists: true
          itemList:
          - itemList
          - itemList
          included: true
          currencyCode: EUR
        recordCreated:
          role: admin
          time: 1609411613660
          user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
          tenant: dmo-demo
        transaction:
          method: MANDATORY_BOOKING
          externalList:
          - text: https://www.booking.com/
            languageCode: de
          - text: https://www.booking.com/
            languageCode: de
          contactTypeList:
          - reservations
          - reservations
        awardList:
        - provider: star-rating
          rating: 0
        - provider: star-rating
          rating: 0
        refinementDate: 1643706934194
      properties:
        code:
          example: strandresidenz-sylt
          type: string
        name:
          example: Strandresidenz Sylt
          type: string
        recordCreated:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_recordCreated'
        recordModified:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_recordModified'
        propertyInfo:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_propertyInfo'
        guestInfo:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_guestInfo'
        awardList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_awardList_inner'
          type: array
        contactList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_contactList_inner'
          type: array
        facilityInfo:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_facilityInfo'
        mediaList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_mediaList_inner'
          type: array
        geo:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_geo'
        refinementDate:
          example: 1643706934194
          type: number
        published:
          type: boolean
        policyList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_policyList_inner'
          type: array
        uri:
          example: strandresidenz-sylt
          type: string
        transaction:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_transaction'
        cancellationGracePeriod:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_cancellationGracePeriod'
        serviceList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_serviceList_inner'
          type: array
      type: object
    _v1_property_get_post_200_response_productList_inner_mealPlanList_inner:
      example:
        code: 14
        name: Room only
      properties:
        code:
          example: 14
          type: number
        name:
          example: Room only
          type: string
      type: object
    _v1_property_get_post_200_response_productList_inner_roomTypeList_inner:
      example:
        typeCode: amrum
      properties:
        typeCode:
          example: amrum
          type: string
      type: object
    _v1_property_get_post_200_response_productList_inner_ratePlanList_inner_pricingList_inner_priceList:
      example:
        "11": 1419
        "22": 2838
        "12": 1548
        "23": 2967
        "13": 1677
        "14": 1806
        "15": 1935
        "16": 2064
        "17": 2193
        "18": 2322
        "19": 2451
        "4": 516
        "5": 645
        "6": 774
        "7": 903
        "8": 1032
        "9": 1161
        "20": 2580
        "10": 1290
        "21": 2709
      properties:
        "4":
          example: 516
          type: number
        "5":
          example: 645
          type: number
        "6":
          example: 774
          type: number
        "7":
          example: 903
          type: number
        "8":
          example: 1032
          type: number
        "9":
          example: 1161
          type: number
        "10":
          example: 1290
          type: number
        "11":
          example: 1419
          type: number
        "12":
          example: 1548
          type: number
        "13":
          example: 1677
          type: number
        "14":
          example: 1806
          type: number
        "15":
          example: 1935
          type: number
        "16":
          example: 2064
          type: number
        "17":
          example: 2193
          type: number
        "18":
          example: 2322
          type: number
        "19":
          example: 2451
          type: number
        "20":
          example: 2580
          type: number
        "21":
          example: 2709
          type: number
        "22":
          example: 2838
          type: number
        "23":
          example: 2967
          type: number
      type: object
    _v1_property_get_post_200_response_productList_inner_ratePlanList_inner_pricingList_inner:
      example:
        dateTime: 1614556800000
        occupancy: 1
        currencyCode: EUR
        priceList:
          "11": 1419
          "22": 2838
          "12": 1548
          "23": 2967
          "13": 1677
          "14": 1806
          "15": 1935
          "16": 2064
          "17": 2193
          "18": 2322
          "19": 2451
          "4": 516
          "5": 645
          "6": 774
          "7": 903
          "8": 1032
          "9": 1161
          "20": 2580
          "10": 1290
          "21": 2709
      properties:
        dateTime:
          example: 1614556800000
          type: number
        occupancy:
          example: 1
          type: number
        priceList:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_productList_inner_ratePlanList_inner_pricingList_inner_priceList'
        currencyCode:
          example: EUR
          type: string
      type: object
    _v1_property_get_post_200_response_productList_inner_ratePlanList_inner:
      example:
        code: standard-amrum
        name: Standard Amrum
        active: true
        propertyId: strandresidenz-sylt
        pricingList:
        - dateTime: 1614556800000
          occupancy: 1
          currencyCode: EUR
          priceList:
            "11": 1419
            "22": 2838
            "12": 1548
            "23": 2967
            "13": 1677
            "14": 1806
            "15": 1935
            "16": 2064
            "17": 2193
            "18": 2322
            "19": 2451
            "4": 516
            "5": 645
            "6": 774
            "7": 903
            "8": 1032
            "9": 1161
            "20": 2580
            "10": 1290
            "21": 2709
        - dateTime: 1614556800000
          occupancy: 1
          currencyCode: EUR
          priceList:
            "11": 1419
            "22": 2838
            "12": 1548
            "23": 2967
            "13": 1677
            "14": 1806
            "15": 1935
            "16": 2064
            "17": 2193
            "18": 2322
            "19": 2451
            "4": 516
            "5": 645
            "6": 774
            "7": 903
            "8": 1032
            "9": 1161
            "20": 2580
            "10": 1290
            "21": 2709
      properties:
        active:
          type: boolean
        name:
          example: Standard Amrum
          type: string
        code:
          example: standard-amrum
          type: string
        propertyId:
          example: strandresidenz-sylt
          type: string
        pricingList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_productList_inner_ratePlanList_inner_pricingList_inner'
          type: array
      type: object
    _v1_property_get_post_200_response_productList_inner_policyInfo_cancellationPolicyList_inner:
      example:
        code: 152
        noShowPolicy: default
        nightsAfterReservation: 0
        nightsAfterDeadline: 0
        percentAfterDeadline: 0
        percentAfterReservation: 0
        deadlineDays: 0
        deadlineHours: 0
      properties:
        code:
          example: 152
          type: number
        percentAfterReservation:
          example: 0
          type: number
        nightsAfterReservation:
          example: 0
          type: number
        deadlineDays:
          example: 0
          type: number
        deadlineHours:
          example: 0
          type: number
        percentAfterDeadline:
          example: 0
          type: number
        nightsAfterDeadline:
          example: 0
          type: number
        noShowPolicy:
          example: default
          type: string
      type: object
    _v1_property_get_post_200_response_productList_inner_policyInfo:
      example:
        cancellationPolicyList:
        - code: 152
          noShowPolicy: default
          nightsAfterReservation: 0
          nightsAfterDeadline: 0
          percentAfterDeadline: 0
          percentAfterReservation: 0
          deadlineDays: 0
          deadlineHours: 0
        - code: 152
          noShowPolicy: default
          nightsAfterReservation: 0
          nightsAfterDeadline: 0
          percentAfterDeadline: 0
          percentAfterReservation: 0
          deadlineDays: 0
          deadlineHours: 0
        checkOutTime: 39600000
        totalGuestCount: 0
        checkInTime: 50400000
        guaranteePolicy: guaranteePolicy
        taxPolicyList:
        - conditionList:
          - conditionList
          - conditionList
          chargeType: included
          percent: 19
          currencyCode: EUR
          typeCode: 36
          chargeFrequencyCode: 12
        - conditionList:
          - conditionList
          - conditionList
          chargeType: included
          percent: 19
          currencyCode: EUR
          typeCode: 36
          chargeFrequencyCode: 12
        prepaymentPolicy: prepaymentPolicy
        name: Standard Amrum Policy
        feePolicyList:
        - feePolicyList
        - feePolicyList
        advanceBookingMin: 34560000
        advanceBookingMax: 0
        petsPolicy:
          byArrangement: true
          allowed: true
          freeOfCharge: true
      properties:
        checkInTime:
          example: 50400000
          type: number
        checkOutTime:
          example: 39600000
          type: number
        totalGuestCount:
          example: 0
          type: number
        cancellationPolicyList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_productList_inner_policyInfo_cancellationPolicyList_inner'
          type: array
        advanceBookingMin:
          example: 34560000
          type: number
        advanceBookingMax:
          example: 0
          type: number
        petsPolicy:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_property_policyList_inner_petsPolicy'
        prepaymentPolicy:
          type: string
        guaranteePolicy:
          format: nullable
          type: string
        taxPolicyList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_property_policyList_inner_taxPolicyList_inner'
          type: array
        feePolicyList:
          items:
            type: string
          type: array
        name:
          example: Standard Amrum Policy
          type: string
      type: object
    _v1_property_get_post_200_response_productList_inner:
      example:
        roomTypeList:
        - typeCode: amrum
        - typeCode: amrum
        isOBPPricing: true
        ratePlanList:
        - code: standard-amrum
          name: Standard Amrum
          active: true
          propertyId: strandresidenz-sylt
          pricingList:
          - dateTime: 1614556800000
            occupancy: 1
            currencyCode: EUR
            priceList:
              "11": 1419
              "22": 2838
              "12": 1548
              "23": 2967
              "13": 1677
              "14": 1806
              "15": 1935
              "16": 2064
              "17": 2193
              "18": 2322
              "19": 2451
              "4": 516
              "5": 645
              "6": 774
              "7": 903
              "8": 1032
              "9": 1161
              "20": 2580
              "10": 1290
              "21": 2709
          - dateTime: 1614556800000
            occupancy: 1
            currencyCode: EUR
            priceList:
              "11": 1419
              "22": 2838
              "12": 1548
              "23": 2967
              "13": 1677
              "14": 1806
              "15": 1935
              "16": 2064
              "17": 2193
              "18": 2322
              "19": 2451
              "4": 516
              "5": 645
              "6": 774
              "7": 903
              "8": 1032
              "9": 1161
              "20": 2580
              "10": 1290
              "21": 2709
        - code: standard-amrum
          name: Standard Amrum
          active: true
          propertyId: strandresidenz-sylt
          pricingList:
          - dateTime: 1614556800000
            occupancy: 1
            currencyCode: EUR
            priceList:
              "11": 1419
              "22": 2838
              "12": 1548
              "23": 2967
              "13": 1677
              "14": 1806
              "15": 1935
              "16": 2064
              "17": 2193
              "18": 2322
              "19": 2451
              "4": 516
              "5": 645
              "6": 774
              "7": 903
              "8": 1032
              "9": 1161
              "20": 2580
              "10": 1290
              "21": 2709
          - dateTime: 1614556800000
            occupancy: 1
            currencyCode: EUR
            priceList:
              "11": 1419
              "22": 2838
              "12": 1548
              "23": 2967
              "13": 1677
              "14": 1806
              "15": 1935
              "16": 2064
              "17": 2193
              "18": 2322
              "19": 2451
              "4": 516
              "5": 645
              "6": 774
              "7": 903
              "8": 1032
              "9": 1161
              "20": 2580
              "10": 1290
              "21": 2709
        policyInfo:
          cancellationPolicyList:
          - code: 152
            noShowPolicy: default
            nightsAfterReservation: 0
            nightsAfterDeadline: 0
            percentAfterDeadline: 0
            percentAfterReservation: 0
            deadlineDays: 0
            deadlineHours: 0
          - code: 152
            noShowPolicy: default
            nightsAfterReservation: 0
            nightsAfterDeadline: 0
            percentAfterDeadline: 0
            percentAfterReservation: 0
            deadlineDays: 0
            deadlineHours: 0
          checkOutTime: 39600000
          totalGuestCount: 0
          checkInTime: 50400000
          guaranteePolicy: guaranteePolicy
          taxPolicyList:
          - conditionList:
            - conditionList
            - conditionList
            chargeType: included
            percent: 19
            currencyCode: EUR
            typeCode: 36
            chargeFrequencyCode: 12
          - conditionList:
            - conditionList
            - conditionList
            chargeType: included
            percent: 19
            currencyCode: EUR
            typeCode: 36
            chargeFrequencyCode: 12
          prepaymentPolicy: prepaymentPolicy
          name: Standard Amrum Policy
          feePolicyList:
          - feePolicyList
          - feePolicyList
          advanceBookingMin: 34560000
          advanceBookingMax: 0
          petsPolicy:
            byArrangement: true
            allowed: true
            freeOfCharge: true
        isLOSPricing: true
        name: Standard Amrum
        propertyId: strandresidenz-sylt
        mealPlanList:
        - code: 14
          name: Room only
        - code: 14
          name: Room only
      properties:
        propertyId:
          example: strandresidenz-sylt
          type: string
        name:
          example: Standard Amrum
          type: string
        mealPlanList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_productList_inner_mealPlanList_inner'
          type: array
        roomTypeList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_productList_inner_roomTypeList_inner'
          type: array
        isLOSPricing:
          type: boolean
        isOBPPricing:
          type: boolean
        ratePlanList:
          items:
            $ref: '#/components/schemas/_v1_property_get_post_200_response_productList_inner_ratePlanList_inner'
          type: array
        policyInfo:
          $ref: '#/components/schemas/_v1_property_get_post_200_response_productList_inner_policyInfo'
      type: object
    _v1_property_get_post_200_response:
      example:
        versionId: versionId
        property:
          facilityInfo:
            guestRoomList:
            - roomTypeCode: "1"
              typeName: typeName
              roomTypeName: roomTypeName
              maxAdultOccupancy: "4"
              descriptionText: descriptionText
              isActive: true
              amenityList:
              - code: "5005"
                quantity: 1
              - code: "5005"
                quantity: 1
              roomId: amrum
              maxChildOccupancy: "4"
              isNonSmoking: true
              mediaList:
              - tagList:
                - code: 159
                  name: Living room
                - code: 159
                  name: Living room
                roomAmenityList:
                - code: 146
                  name: Tables and chairs
                - code: 146
                  name: Tables and chairs
                isMainImage: true
                detectionLabelList:
                - furniture
                - furniture
                sortOrder: 1001
                moderationLabelList:
                - moderationLabelList
                - moderationLabelList
                propertyAmenityList:
                - propertyAmenityList
                - propertyAmenityList
                url: zim_1280x960_164357_002.jpg
              - tagList:
                - code: 159
                  name: Living room
                - code: 159
                  name: Living room
                roomAmenityList:
                - code: 146
                  name: Tables and chairs
                - code: 146
                  name: Tables and chairs
                isMainImage: true
                detectionLabelList:
                - furniture
                - furniture
                sortOrder: 1001
                moderationLabelList:
                - moderationLabelList
                - moderationLabelList
                propertyAmenityList:
                - propertyAmenityList
                - propertyAmenityList
                url: zim_1280x960_164357_002.jpg
              messageList:
              - text: Maisonette apartment on ground floor
                languageCode: en
              - text: Maisonette apartment on ground floor
                languageCode: en
              name: Amrum
              maxOccupancy: "4"
              imageList:
              - imageList
              - imageList
            - roomTypeCode: "1"
              typeName: typeName
              roomTypeName: roomTypeName
              maxAdultOccupancy: "4"
              descriptionText: descriptionText
              isActive: true
              amenityList:
              - code: "5005"
                quantity: 1
              - code: "5005"
                quantity: 1
              roomId: amrum
              maxChildOccupancy: "4"
              isNonSmoking: true
              mediaList:
              - tagList:
                - code: 159
                  name: Living room
                - code: 159
                  name: Living room
                roomAmenityList:
                - code: 146
                  name: Tables and chairs
                - code: 146
                  name: Tables and chairs
                isMainImage: true
                detectionLabelList:
                - furniture
                - furniture
                sortOrder: 1001
                moderationLabelList:
                - moderationLabelList
                - moderationLabelList
                propertyAmenityList:
                - propertyAmenityList
                - propertyAmenityList
                url: zim_1280x960_164357_002.jpg
              - tagList:
                - code: 159
                  name: Living room
                - code: 159
                  name: Living room
                roomAmenityList:
                - code: 146
                  name: Tables and chairs
                - code: 146
                  name: Tables and chairs
                isMainImage: true
                detectionLabelList:
                - furniture
                - furniture
                sortOrder: 1001
                moderationLabelList:
                - moderationLabelList
                - moderationLabelList
                propertyAmenityList:
                - propertyAmenityList
                - propertyAmenityList
                url: zim_1280x960_164357_002.jpg
              messageList:
              - text: Maisonette apartment on ground floor
                languageCode: en
              - text: Maisonette apartment on ground floor
                languageCode: en
              name: Amrum
              maxOccupancy: "4"
              imageList:
              - imageList
              - imageList
          code: strandresidenz-sylt
          policyList:
          - cancellationPolicyList:
            - cancellationPolicyList
            - cancellationPolicyList
            checkOutTime: 43200000
            totalGuestCount: 10
            checkInTime: 54000000
            guaranteePolicy: guaranteePolicy
            taxPolicyList:
            - conditionList:
              - conditionList
              - conditionList
              chargeType: included
              percent: 19
              currencyCode: EUR
              typeCode: 36
              chargeFrequencyCode: 12
            - conditionList:
              - conditionList
              - conditionList
              chargeType: included
              percent: 19
              currencyCode: EUR
              typeCode: 36
              chargeFrequencyCode: 12
            prepaymentPolicy: after_reservation_is_made
            feePolicyList:
            - feePolicyList
            - feePolicyList
            advanceBookingMin: 34560000
            advanceBookingMax: 0
            petsPolicy:
              byArrangement: true
              allowed: true
              freeOfCharge: true
          - cancellationPolicyList:
            - cancellationPolicyList
            - cancellationPolicyList
            checkOutTime: 43200000
            totalGuestCount: 10
            checkInTime: 54000000
            guaranteePolicy: guaranteePolicy
            taxPolicyList:
            - conditionList:
              - conditionList
              - conditionList
              chargeType: included
              percent: 19
              currencyCode: EUR
              typeCode: 36
              chargeFrequencyCode: 12
            - conditionList:
              - conditionList
              - conditionList
              chargeType: included
              percent: 19
              currencyCode: EUR
              typeCode: 36
              chargeFrequencyCode: 12
            prepaymentPolicy: after_reservation_is_made
            feePolicyList:
            - feePolicyList
            - feePolicyList
            advanceBookingMin: 34560000
            advanceBookingMax: 0
            petsPolicy:
              byArrangement: true
              allowed: true
              freeOfCharge: true
          published: true
          guestInfo:
            guestNameListRequired: true
            guestContactNumberRequired: true
            guestAddressRequired: true
          uri: strandresidenz-sylt
          propertyInfo:
            messageList:
            - text: More sea does not work!
              languageCode: en
            - text: More sea does not work!
              languageCode: en
            unitCount: 4
            categoryList:
            - code: 34
              name: Vacation home
              exists: true
            - code: 34
              name: Vacation home
              exists: true
            location:
              latitude: 54.91574091463751
              longitude: 8.30486146909412
            languageList:
            - de
            - de
            acceptedPaymentList:
            - code: eccard
              name: EC-card
              type: debitcard
            - code: eccard
              name: EC-card
              type: debitcard
          geo:
            de:
              country: Deutschland
              formatted_address: Nordhedig 20 25980 Sylt Deutschland
              locality: Sylt
              sublocality: Westerland
              language: de
              establishment: Sylt
              country_code: DE
              sublocality_level_1: Westerland
              route: Nordhedig
              administrative_area_level_3: Nordfriesland
              administrative_area_level_1: Schleswig-Holstein
              street_number: "20"
              location:
                lng: 8.304857
                lat: 54.9157118
              state_code: SH
              postal_code: "25980"
              natural_feature: Sylt
              place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
            en:
              country: Germany
              formatted_address: Nordhedig 20 25980 Sylt Germany
              locality: Sylt
              sublocality: Westerland
              language: en
              establishment: Sylt
              country_code: DE
              sublocality_level_1: Westerland
              route: Nordhedig
              administrative_area_level_3: Nordfriesland
              administrative_area_level_1: Schleswig-Holstein
              street_number: "20"
              location:
                lng: 8.304857
                lat: 54.9157118
              state_code: SH
              postal_code: "25980"
              natural_feature: Sylt
              place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
            da:
              country: Tyskland
              formatted_address: Nordhedig 20 25980 Sylt Tyskland
              locality: Sylt
              sublocality: Westerland
              language: da
              establishment: Sild
              country_code: DE
              sublocality_level_1: Westerland
              route: Nordhedig
              administrative_area_level_3: Nordfriesland
              administrative_area_level_1: Schleswig-Holstein
              street_number: "20"
              location:
                lng: 8.304857
                lat: 54.9157118
              state_code: SH
              postal_code: "25980"
              natural_feature: Sild
              place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
            nl:
              country: Duitsland
              formatted_address: Nordhedig 20 25980 Sylt Duitsland
              locality: Sylt
              sublocality: Westerland
              language: nl
              establishment: Sylt
              country_code: DE
              sublocality_level_1: Westerland
              route: Nordhedig
              administrative_area_level_3: Nordfriesland
              administrative_area_level_1: Schleswig-Holstein
              street_number: "20"
              location:
                lng: 8.304857
                lat: 54.9157118
              state_code: SH
              postal_code: "25980"
              natural_feature: Sylt
              place_id: ChIJVaxqTevetEcRyfs8PGHK6mw
          cancellationGracePeriod:
            weeksBeforeCheckIn: 0
            hoursAfterBooking: 24
          recordModified:
            role: admin
            time: 1652091332815
            user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
            tenant: dmo-demo
          contactList:
          - profileType: physicallocation
            addressList:
            - cityName: Sylt
              propertyName: Strandresidenz Sylt
              countryCode: DE
              postalCode: "25980"
              state: SH
              addressLine: Nordhedig 20
            - cityName: Sylt
              propertyName: Strandresidenz Sylt
              countryCode: DE
              postalCode: "25980"
              state: SH
              addressLine: Nordhedig 20
          - profileType: physicallocation
            addressList:
            - cityName: Sylt
              propertyName: Strandresidenz Sylt
              countryCode: DE
              postalCode: "25980"
              state: SH
              addressLine: Nordhedig 20
            - cityName: Sylt
              propertyName: Strandresidenz Sylt
              countryCode: DE
              postalCode: "25980"
              state: SH
              addressLine: Nordhedig 20
          mediaList:
          - tagList:
            - code: 3
              name: Property building
            - code: 3
              name: Property building
            roomAmenityList:
            - roomAmenityList
            - roomAmenityList
            isMainImage: true
            detectionLabelList:
            - roof
            - roof
            sortOrder: 1000
            moderationLabelList:
            - moderationLabelList
            - moderationLabelList
            propertyAmenityList:
            - propertyAmenityList
            - propertyAmenityList
            url: obj_1280x960_54620_001.jpg
          - tagList:
            - code: 3
              name: Property building
            - code: 3
              name: Property building
            roomAmenityList:
            - roomAmenityList
            - roomAmenityList
            isMainImage: true
            detectionLabelList:
            - roof
            - roof
            sortOrder: 1000
            moderationLabelList:
            - moderationLabelList
            - moderationLabelList
            propertyAmenityList:
            - propertyAmenityList
            - propertyAmenityList
            url: obj_1280x960_54620_001.jpg
          name: Strandresidenz Sylt
          serviceList:
          - featureList:
            - featureList
            - featureList
            operationTimeList:
            - operationTimeList
            - operationTimeList
            code: 5015
            typeList:
            - typeList
            - typeList
            price: 0
            name: Beach
            exists: true
            itemList:
            - itemList
            - itemList
            included: true
            currencyCode: EUR
          - featureList:
            - featureList
            - featureList
            operationTimeList:
            - operationTimeList
            - operationTimeList
            code: 5015
            typeList:
            - typeList
            - typeList
            price: 0
            name: Beach
            exists: true
            itemList:
            - itemList
            - itemList
            included: true
            currencyCode: EUR
          recordCreated:
            role: admin
            time: 1609411613660
            user: microsoft:user:2f1d8a1b-bae8-4333-8f0f-7ad28af03e3f
            tenant: dmo-demo
          transaction:
            method: MANDATORY_BOOKING
            externalList:
            - text: https://www.booking.com/
              languageCode: de
            - text: https://www.booking.com/
              languageCode: de
            contactTypeList:
            - reservations
            - reservations
          awardList:
          - provider: star-rating
            rating: 0
          - provider: star-rating
            rating: 0
          refinementDate: 1643706934194
        productList:
        - roomTypeList:
          - typeCode: amrum
          - typeCode: amrum
          isOBPPricing: true
          ratePlanList:
          - code: standard-amrum
            name: Standard Amrum
            active: true
            propertyId: strandresidenz-sylt
            pricingList:
            - dateTime: 1614556800000
              occupancy: 1
              currencyCode: EUR
              priceList:
                "11": 1419
                "22": 2838
                "12": 1548
                "23": 2967
                "13": 1677
                "14": 1806
                "15": 1935
                "16": 2064
                "17": 2193
                "18": 2322
                "19": 2451
                "4": 516
                "5": 645
                "6": 774
                "7": 903
                "8": 1032
                "9": 1161
                "20": 2580
                "10": 1290
                "21": 2709
            - dateTime: 1614556800000
              occupancy: 1
              currencyCode: EUR
              priceList:
                "11": 1419
                "22": 2838
                "12": 1548
                "23": 2967
                "13": 1677
                "14": 1806
                "15": 1935
                "16": 2064
                "17": 2193
                "18": 2322
                "19": 2451
                "4": 516
                "5": 645
                "6": 774
                "7": 903
                "8": 1032
                "9": 1161
                "20": 2580
                "10": 1290
                "21": 2709
          - code: standard-amrum
            name: Standard Amrum
            active: true
            propertyId: strandresidenz-sylt
            pricingList:
            - dateTime: 1614556800000
              occupancy: 1
              currencyCode: EUR
              priceList:
                "11": 1419
                "22": 2838
                "12": 1548
                "23": 2967
                "13": 1677
                "14": 1806
                "15": 1935
                "16": 2064
                "17": 2193
                "18": 2322
                "19": 2451
                "4": 516
                "5": 645
                "6": 774
                "7": 903
                "8": 1032
                "9": 1161
                "20": 2580
                "10": 1290
                "21": 2709
            - dateTime: 1614556800000
              occupancy: 1
              currencyCode: EUR
              priceList:
                "11": 1419
                "22": 2838
                "12": 1548
                "23": 2967
                "13": 1677
                "14": 1806
                "15": 1935
                "16": 2064
                "17": 2193
                "18": 2322
                "19": 2451
                "4": 516
                "5": 645
                "6": 774
                "7": 903
                "8": 1032
                "9": 1161
                "20": 2580
                "10": 1290
                "21": 2709
          policyInfo:
            cancellationPolicyList:
            - code: 152
              noShowPolicy: default
              nightsAfterReservation: 0
              nightsAfterDeadline: 0
              percentAfterDeadline: 0
              percentAfterReservation: 0
              deadlineDays: 0
              deadlineHours: 0
            - code: 152
              noShowPolicy: default
              nightsAfterReservation: 0
              nightsAfterDeadline: 0
              percentAfterDeadline: 0
              percentAfterReservation: 0
              deadlineDays: 0
              deadlineHours: 0
            checkOutTime: 39600000
            totalGuestCount: 0
            checkInTime: 50400000
            guaranteePolicy: guaranteePolicy
            taxPolicyList:
            - conditionList:
              - conditionList
              - conditionList
              chargeType: included
              percent: 19
              currencyCode: EUR
              typeCode: 36
              chargeFrequencyCode: 12
            - conditionList:
              - conditionList
              - conditionList
              chargeType: included
              percent: 19
              currencyCode: EUR
              typeCode: 36
              chargeFrequencyCode: 12
            prepaymentPolicy: prepaymentPolicy
            name: Standard Amrum Policy
            feePolicyList:
            - feePolicyList
            - feePolicyList
            advanceBookingMin: 34560000
            advanceBookingMax: 0
            petsPolicy:
              byArrangement: true
              allowed: true
              freeOfCharge: true
          isLOSPricing: true
          name: Standard Amrum
          propertyId: strandresidenz-sylt
          mealPlanList:
          - code: 14
            name: Room only
          - code: 14
            name: Room only
        - roomTypeList:
          - typeCode: amrum
          - typeCode: amrum
          isOBPPricing: true
          ratePlanList:
          - code: standard-amrum
            name: Standard Amrum
            active: true
            propertyId: strandresidenz-sylt
            pricingList:
            - dateTime: 1614556800000
              occupancy: 1
              currencyCode: EUR
              priceList:
                "11": 1419
                "22": 2838
                "12": 1548
                "23": 2967
                "13": 1677
                "14": 1806
                "15": 1935
                "16": 2064
                "17": 2193
                "18": 2322
                "19": 2451
                "4": 516
                "5": 645
                "6": 774
                "7": 903
                "8": 1032
                "9": 1161
                "20": 2580
                "10": 1290
                "21": 2709
            - dateTime: 1614556800000
              occupancy: 1
              currencyCode: EUR
              priceList:
                "11": 1419
                "22": 2838
                "12": 1548
                "23": 2967
                "13": 1677
                "14": 1806
                "15": 1935
                "16": 2064
                "17": 2193
                "18": 2322
                "19": 2451
                "4": 516
                "5": 645
                "6": 774
                "7": 903
                "8": 1032
                "9": 1161
                "20": 2580
                "10": 1290
                "21": 2709
          - code: standard-amrum
            name: Standard Amrum
            active: true
            propertyId: strandresidenz-sylt
            pricingList:
            - dateTime: 1614556800000
              occupancy: 1
              currencyCode: EUR
              priceList:
                "11": 1419
                "22": 2838
                "12": 1548
                "23": 2967
                "13": 1677
                "14": 1806
                "15": 1935
                "16": 2064
                "17": 2193
                "18": 2322
[...]
